## 1. Data wrangling

## 1.1 Contents<a id='2.1_Contents'></a>
* [1 Data wrangling](#2_Data_wrangling)
  * [1.1 Contents](#2.1_Contents)
  * [1.2 Introduction](#2.2_Introduction)
  * [1.3 Imports](#2.3_Imports)
  * [1.4 Load The House Price Data](#2.4_Load_The_House_Price_Data)
  * [1.5 Filtering Single Family Property Type](#2.5_Filtering_Single_Family_Property_Type) 
  * [1.6 Missing Values](#2.6_Missing_Values) 
    * [1.6.1 Features With > 90% Missing Values](#1.6.1_Features_With_>90%_Missing_Values)
    * [1.6.2 Features With 80%-90% Missing Values](#1.6.2_Features_With_80%_-_90%_Missing_Values)
    * [1.6.3 Features With 70%-80% Missing Values](#1.6.3_Features_With_70%_-_80%_Missing_Values)
    * [1.6.4 Features With 50%-70% Missing Values](#1.6.4_Features_With_50%_-_70%_Missing_Values)
    * [1.6.5 Features With 10%-50% Missing Values](#1.6.5_Features_With_10%_-_50%_Missing_Values)
      * [1.6.5.1 Garage](#1.6.5.1_Garage)
      * [1.6.5.2 Living](#1.6.5.2_Living) 
      * [1.6.5.3 Dining](#1.6.5.3_Dining) 
      * [1.6.5.4 Kitchen](#1.6.5.4_Kitchen)
  * [1.7 Subdivisions And Their Facts](#1.7_Subdivisions_And_their_Facts)
  * [1.8 Fill Null For Kitchen, Dining and Living](#1.8_Fill_Null_For_Kitchen_Dining_Living)
  * [1.9 Listing Price](#1.9_Listing_Price)
  * [1.10 Bedrooms](#1.10_Bedrooms)     
  * [1.11 Bathrooms](#1.11_Bathrooms)
  * [1.12 Stories](#1.12_Stories)
  * [1.13 Style](#1.13_Style)
  * [1.14 Year Built](#1.14_Year_Built)
  * [1.15 Building Sqft](#1.15_Building_Sqft)
  * [1.16 Lot Size](#1.16_Lot_Size)
  * [1.17 Maintenance Fee](#1.17_Maintenance_Fee)
  * [1.18 Fireplace](#1.18_Fireplace)
  * [1.19 HOA Mandatory](#1.19_HOA_Mandatory)
  * [1.20 Other Fees](#1.20_Other_Fees)
  * [1.21 Roof](#1.21_Roof)

## 2.2 Introduction<a id='2.2_Introduction'></a>

In this section I will investigate data scrapped from www.HAR.com. Data cleaning will be done in this stage since all rows are categorical and need to be numerical. I will remove features with lost of none values and will create new features.

## 2.3 Imports<a id='2.3_Imports'></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import substring
import os
import re
from fuzzywuzzy import process
import warnings
warnings.filterwarnings('ignore')

## 2.4 Load The House Price Data<a id='2.4_Load_The_House_Price_Data'></a>

In [2]:
data= pd.read_csv('../data/raw/Houston_Home_List.csv',encoding = "ISO-8859-1")
print('data shape is:',data.shape)

data shape is: (15102, 101)

In [3]:
data.columns

Index(['Unnamed: 0', 'image_link', 'Listing Price:', 'Address:', 'City:',
       'State:', 'Zip Code:', 'County:', 'Subdivision:', 'Legal Description:',
       ...
       'Extra Room:', 'Wine Room:', 'Carport Description:',
       'Median Appraised Value / Square ft.:', 'Den:', 'Utility Room Desc:',
       'Sunroom:', 'Guest Suite:', 'Bath:', 'Garage Apartment:'],
      dtype='object', length=101)

## 2.5 Filtering Single Family Property Type<a id='2.5_Filtering_Single_Family_Property_Type'></a>

Since we are going to analysis images and other house features it is important to have all records as same as possible. For example for lots there is no image for building or rooms and features for multi-family properties are different from single family homes. let see what kind of property type we have in our dataset:

In [4]:
data['Property Type:'].value_counts()

Single-Family                          11141
Lots                                    1551
Townhouse/Condo - Townhouse              950
Townhouse/Condo - Condominium            594
Mid/Hi-Rise Condo                        436
Country Homes/Acreage                    154
Multi-Family - Duplex                    107
Multi-Family - Fourplex                   46
Country Homes/Acreage - Free Standi       46
Multi-Family - 5 Plus                     38
Multi-Family - Triplex                    15
Multi-Family - Multiple Detached Dw        9
Country Homes/Acreage - Manufacture        4
Lot & Acreage - Residential                3
Residential - Condo                        2
Single Family                              1
Residential - Townhouse                    1
Name: Property Type:, dtype: int64

Majority of properties are single family so, I keep them and remove the rest of the types.

In [5]:
single_family_df = data[data['Property Type:']=='Single-Family']
single_family_df.reset_index(drop=True,inplace=True)
len(single_family_df)

11141

In [6]:
single_family_df.head()

,Unnamed: 0,image_link,Listing Price:,Address:,City:,State:,Zip Code:,County:,Subdivision:,Legal Description:,...,Extra Room:,Wine Room:,Carport Description:,Median Appraised Value / Square ft.:,Den:,Utility Room Desc:,Sunroom:,Guest Suite:,Bath:,Garage Apartment:
0,85,['https://photos.harstatic.com/190618667/hr/im...,"$ 575,000 ($232.98/sqft.) $Convert",1316 Hadley Street,Houston,TX,77002,Harris County,Austin Hadley Place,LT 4 BLK 1 AUSTIN HADLEY PLACE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88,['https://photos.harstatic.com/190420550/hr/im...,"$ 465,000 ($221.85/sqft.) $Convert",110 Pierce Street,Houston,TX,77002,Harris County,Modern Midtown (View subdivision price trend),LT 12 BLK 1 MODERN MIDTOWN,...,NaN,NaN,NaN,$223.83,NaN,NaN,NaN,NaN,NaN,NaN
2,89,['https://photos.harstatic.com/190088153/hr/im...,"$ 450,000 ($223.33/sqft.) $Convert",118 Pierce Street,Houston,TX,77002,Harris County,Modern Midtown (View subdivision price trend),LT 8 BLK 1 MODERN MIDTOWN,...,NaN,NaN,NaN,$223.83,NaN,NaN,NaN,NaN,NaN,NaN
3,99,['https://photos.harstatic.com/189387790/hr/im...,"$ 259,000 ($203.30/sqft.) $Convert",311 N Milby Street,Houston,TX,77003,Harris County,Merkels Sec 01 (View subdivision price trend),LT 3 BLK 15 MERKELS SEC 1,...,NaN,NaN,NaN,NaN,"['12 x 17, 1st', '12 , 17, 1st']","['12 x 7, 1st', '12 , 7, 1st']",NaN,NaN,NaN,NaN
4,108,['https://photos.harstatic.com/177650081/hr/im...,"$ 236,999 ($196.19/sqft.) $Convert \r\n\r\n\r...",216 Hutcheson,Houston,TX,77003,Harris County,MERKELS (View subdivision price trend),LT 9 BLK 5 MERKELS SEC 1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In our dataset `State` and `Property Type` are the same for all houses so, we can remove them:

In [7]:
single_family_df.drop(['Unnamed: 0','State:','Property Type:'],axis=1,inplace=True)

## 2.6 Missing Values<a id='2.6_Missing_Values'></a>

In [8]:
# function to find missing value and returning count abd %
def missing_cal(df):
    """This function calculates missing value 
    for datafaram passed in as parameter"""
    missing = pd.concat([single_family_df.isnull().sum(), 100 * single_family_df.isnull().mean()], axis=1)
    missing.columns=['count', '%']
    missing.sort_values(by='count',ascending=False)
    return missing

In [9]:
missing = missing_cal(single_family_df)
missing

                    count          %
image_link              0   0.000000
Listing Price:          3   0.026928
Address:                0   0.000000
City:                   0   0.000000
Zip Code:               0   0.000000
...                   ...        ...
Utility Room Desc:   7178  64.428687
Sunroom:            10909  97.917602
Guest Suite:        11008  98.806211
Bath:                9449  84.812853
Garage Apartment:   10822  97.136702

[98 rows x 2 columns]

## 1.6.1 Features With >90% Missing Values<a id='1.6.1_Features_With_>90%_Missing_Values'></a>

Let's take a look at features with more than 90% missing values:

In [10]:
missing = missing_cal(single_family_df)
nan_90 = missing.loc[missing['%']>90].index
print('Number of Features with more than 90% None: ',len(nan_90))

Number of Features with more than 90% None:  9

In [11]:
missing.loc[nan_90].sort_values(by="%")

                                      count          %
Extra Room:                           10068  90.368908
Median Appraised Value / Square ft.:  10217  91.706310
Media Room:                           10254  92.038417
Carport Description:                  10523  94.452922
Water Amenity:                        10747  96.463513
Garage Apartment:                     10822  97.136702
Sunroom:                              10909  97.917602
Wine Room:                            11002  98.752356
Guest Suite:                          11008  98.806211

We need to see what kind of information are in each of these features:

In [12]:
for item in nan_90:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Media Room:
['2nd', '2nd']                              27
['16x12, 2nd', '4.88 x 3.66(m)']            17
['15x13, 2nd', '4.57 x 3.96(m)']            15
['14x13, 2nd', '4.27 x 3.96(m)']            15
['13x15, 2nd', '3.96 x 4.57(m)']            13
                                            ..
['12 x 8, 1st', '12 , 8, 1st']               1
['18 x 30, 2nd', '18 , 30, 2nd']             1
['15 x 13, 2nd', '15 , 13, 2nd']             1
['17.6x14.6, 2nd', '5.36 x 4.45(m)']         1
["16'1 x 13'9, 2nd", "16'1 , 13'9, 2nd"]     1
Name: Media Room:, Length: 454, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Water Amenity:
Lake View                                                     119
Lake View, Lakefront                                           83
Pond                                                           55
Lakefront                                                      48
Bayou Frontage, Bayou View                                      9
Bayou View                                                      8
Lake View, Lakefront, Pond                                      6
Bayou Frontage                                                  4
Canal View                                                      3
Lakefront, Pier                                                 3
Lake View, Pond                                                 3
Riverfront                                                      3
Lakefront, Wood Bulkhead                                        3
Bulkhead, Lake View, Lakefront                                  2
Canal Front, Canal View                                         2
Canal Front                                                     2
Lake View, Lakefront, Wood Bulkhead                             2
Pier, Pond                                                      2
River View                                                      2
Bulkhead, Lakefront                                             2
Bay View                                                        2
Lakefront, Riverfront                                           1
Bulkhead, Lakefront, Wood Bulkhead                              1
Canal Front, Canal View, Pier, Wood Bulkhead                    1
Lake View, Metal Bulkhead, River View                           1
Bulkhead, Canal Front, Lake View, Lakefront, Wood Bulkhead      1
Boat Slip, Bulkhead, Lakefront                                  1
Lakefront, Pier, Pond, River View, Riverfront                   1
Bulkhead, Concrete Bulkhead, Lake View, Lakefront               1
Lakefront, Pier, Wood Bulkhead                                  1
Canal Front, Wood Bulkhead                                      1
Bulkhead                                                        1
Boat Slip, Lake View                                            1
Canal Front, Canal View, Lakefront, Pier, Wood Bulkhead         1
Bulkhead, Canal Front, Lake View, Lakefront, Pier               1
Bay View, Gulf View, Lake View                                  1
Pier, Riverfront                                                1
Boat House, Boat Lift, Boat Slip, Canal Front, Lakefront        1
Lake View, Lakefront, Pier                                      1
Bayou View, Lake View, Pond                                     1
River View, Riverfront                                          1
Canal View, Lake View                                           1
Concrete Bulkhead, Pier                                         1
Concrete Bulkhead                                               1
Concrete Bulkhead, Lake View, Lakefront, Wood Bulkhead          1
Bulkhead, Canal Front, Concrete Bulkhead, Lakefront             1
Lake View, Canal View                                           1
Pier, River View, Riverfront                                    1
Boat Ramp, Bulkhead, Riverfront                                 1
Boat Ramp, Lake View                                            1
Boat Slip, Canal Front, Canal View, Lake View, Lakefront        1
Lake View, Lakefront, River View                                1
Name: Water Amenity:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Extra Room:
['1st', '1st']                      21
['11x11, 1st', '3.35 x 3.35(m)']    11
['11x10, 1st', '3.35 x 3.05(m)']    11
['10x10, 1st', '3.05 x 3.05(m)']    11
['2nd', '2nd']                      11
                                    ..
['19x13, 3rd', '5.79 x 3.96(m)']     1
['9 x 13, 1st', '9 , 13, 1st']       1
['29x22, 1st', '8.84 x 6.71(m)']     1
['8X8, 1st', '2.44 x 2.44(m)']       1
['13x13, 2nd', '3.96 x 3.96(m)']     1
Name: Extra Room:, Length: 710, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Wine Room:
['1st', '1st']                      22
['7 x 4, 1st', '7 , 4, 1st']         4
['5x5, 1st', '1.52 x 1.52(m)']       3
['8x5, 1st', '2.44 x 1.52(m)']       3
['12x6, 1st', '3.66 x 1.83(m)']      3
                                    ..
['11 x 7, 1st', '11 , 7, 1st']       1
['4x6, 1st', '1.22 x 1.83(m)']       1
['6X4, 1st', '1.83 x 1.22(m)']       1
['12 x 12, 1st', '12 , 12, 1st']     1
['18 X 9, 1st', '18 , 9, 1st']       1
Name: Wine Room:, Length: 98, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Carport Description:
Attached Carport       399
Detached Carport       122
Attached & Detached     97
Name: Carport Description:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Median Appraised Value / Square ft.:
$196.51     9
$253.57     8
$76.60      8
$41.05      6
$120.49     6
           ..
$259.57     1
$108.95     1
$82.08      1
$140.08     1
$95.17      1
Name: Median Appraised Value / Square ft.:, Length: 615, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Sunroom:
['1st', '1st']                      10
['15x12, 1st', '4.57 x 3.66(m)']     6
['10 x 6, 1st', '10 , 6, 1st']       5
['15x13, 1st', '4.57 x 3.96(m)']     4
['12x12, 1st', '3.66 x 3.66(m)']     3
                                    ..
['9x31, 1st', '2.74 x 9.45(m)']      1
['20x12, 1st', '6.10 x 3.66(m)']     1
['27x19, 1st', '8.23 x 5.79(m)']     1
['9x14, 1st', '2.74 x 4.27(m)']      1
['9 X 16, 1st', '9 , 16, 1st']       1
Name: Sunroom:, Length: 181, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Guest Suite:
['1st', '1st']                          5
['2nd', '2nd']                          4
['13x12, 1st', '3.96 x 3.66(m)']        4
['14x13, 1st', '4.27 x 3.96(m)']        3
['12x13, 1st', '3.66 x 3.96(m)']        2
                                       ..
['16x14, 2nd', '4.88 x 4.27(m)']        1
["13' x 16', 1st", "13' , 16', 1st"]    1
['15X14, 1st', '4.57 x 4.27(m)']        1
['14X14, 1st', '4.27 x 4.27(m)']        1
['12x11, 1st', '3.66 x 3.35(m)']        1
Name: Guest Suite:, Length: 107, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Garage Apartment:
Yes                                                             208
['In Garage', 'In Garage']                                        8
['In Garage', 'In Garage', 'Yes']                                 7
['21x20, In Garage', '6.40 x 6.10(m)', 'Yes']                     2
["22' x 21', In Garage", "22' , 21', In Garage", 'Yes']           2
                                                               ...
['20x30, In Garage', '6.10 x 9.14(m)', 'Yes']                     1
['20x16, In Garage', '6.10 x 4.88(m)', 'Yes']                     1
['26x22, In Garage', '7.92 x 6.71(m)', 'Yes']                     1
['23\'2" x 19\'2", In Garage', '23\'2" , 19\'2", In Garage']      1
['16x22, In Garage', '4.88 x 6.71(m)', 'Yes']                     1
Name: Garage Apartment:, Length: 95, dtype: int64
----------------------------------------------------------------------------------------------------

* Values for `Media Room`, `Extra Room`, `Wine Room`, `Sunroom`, `Guest Suite`and `Garage Apartment` are kind of dimension of each of those rooms along with some nonsense values like (`Yes` for `Garage Apartment`). 
* For `Water Amenity` there are to much unique categories and there is no way to be able to fill rest of none values with correct category
* `Carport Description` has 3 different categories for total 611 house and the rest do not have any carport so I will fill  all none values with new category as 'Not Applicable'.
* `Median Appraised Value / Square ft.:` is the fact (based on active listing) for each subdivision and can be fill by the value for same subdivision.

In [13]:
# Replacing None value for 'Carport Description:' with 'not applicable'
single_family_df['Carport Description:'][single_family_df['Carport Description:'].isnull()]='not applicable'

# Dropping 'Media Room:', 'Water Amenity:', 'Extra Room:', 'Wine Room:', 
#'Sunroom:', 'Guest Suite:', 'Garage Apartment:', 'Vacation Rental:'
single_family_df.drop(['Media Room:', 'Water Amenity:', 'Extra Room:', 'Wine Room:', 'Sunroom:', 'Guest Suite:', 
                       'Garage Apartment:'],axis=1,inplace=True)

## 1.6.2 Features With 80%-90% Missing Values<a id='1.6.2_Features_With_80%_-_90%_Missing_Values'></a>

Next step is looking at the features with more than 80% none values:

In [14]:
missing = missing_cal(single_family_df)
nan_80 = missing.loc[missing['%']>80].index
print('Number of Features with more than 80% None: ',len(nan_80))

Number of Features with more than 80% None:  14

In [15]:
missing.loc[nan_80].sort_values(by="%")

                                      count          %
Average Square Ft.:                    9412  84.480747
Average Price/Square Ft.:              9412  84.480747
Market Area Name:                      9413  84.489723
Home For Sales:                        9413  84.489723
Average List Price:                    9413  84.489723
Home For Lease:                        9413  84.489723
Average Lease:                         9413  84.489723
Average Lease/Square Ft.:              9413  84.489723
Bath:                                  9449  84.812853
Den:                                   9486  85.144960
Private Pool Desc:                     9654  86.652904
Controlled Access:                     9770  87.694103
Master Planned Community:              9843  88.349340
Median Appraised Value / Square ft.:  10217  91.706310

In [16]:
#printing value count for each feature with more than 80 none value
for item in nan_80:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Private Pool Desc:
In Ground                                355
Gunite, In Ground                        344
Gunite, Heated, In Ground                234
Gunite                                   217
Heated, In Ground                         92
Gunite, Heated, In Ground, Salt Water     46
Gunite, Heated                            40
Above Ground                              28
Heated, In Ground, Salt Water             21
Gunite, In Ground, Salt Water             20
In Ground, Salt Water                     16
Gunite, Salt Water                        13
Gunite, Heated, Salt Water                10
Enclosed, Heated, In Ground                8
In Ground, Vinyl Lined                     5
Heated                                     5
Fiberglass, In Ground                      5
Enclosed, In Ground                        4
Fiberglass                                 4
Salt Water                                 4
Enclosed, Gunite, In Ground                2
Heated, Salt Water                         2
Above Ground, In Ground                    2
Above Ground, Heated                       2
Above Ground, Gunite, Heated               1
Fiberglass, Salt Water                     1
Enclosed, Salt Water                       1
Fiberglass, In Ground, Vinyl Lined         1
Above Ground, Vinyl Lined                  1
Enclosed, Heated                           1
Above Ground, Fiberglass, Heated           1
Vinyl Lined                                1
Name: Private Pool Desc:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Controlled Access:
Automatic Gate                                521
Driveway Gate                                 422
Automatic Gate, Driveway Gate                 234
Manned Gate                                   118
Automatic Gate, Intercom                       29
Automatic Gate, Manned Gate                    14
Intercom                                       10
Automatic Gate, Driveway Gate, Intercom         7
Driveway Gate, Intercom                         4
Automatic Gate, Driveway Gate, Manned Gate      4
Driveway Gate, Manned Gate                      4
Automatic Gate, Intercom, Manned Gate           3
Intercom, Manned Gate                           1
Name: Controlled Access:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Master Planned Community:
Kingwood                      235
Aliana                        118
Bridgeland                    100
Tavola                         76
Cane Island                    69
Clear Lake City                66
The Woodlands                  62
Towne Lake                     61
Woodson's Reserve              52
Elyson                         49
Gleannloch Farms               38
Oakhurst at Kingwood           34
Long Meadow Farms              33
Harmony                        31
Copperfield                    29
Grand Mission                  26
The Falls at Imperial Oaks     20
Lakes at Creekside             18
Windrose                       16
Sugar Creek                    15
Wildwood at Northpointe        14
Valley Ranch                   13
First Colony                   13
Cypress Creek Lakes            12
Coles Crossing                 12
Stone Gate                     12
Canyon Lakes at Stone Gate     11
Spring Trails                  10
City Park                      10
Lakemont                        9
Imperial Oaks                   7
Fairfield                       5
Fieldstone                      5
Canyon Gate at Northpointe      4
Spring Lakes                    2
Quail Valley                    2
Woodtrace                       1
New Territory                   1
West Ranch                      1
River Park West                 1
Canyon Lakes West               1
Traditions                      1
WoodCreek Reserve               1
Steeplechase                    1
Twin Oaks                       1
Name: Master Planned Community:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Market Area Name:
Katy - Old Towne        134
Spring Branch           128
Cypress South           105
Medical Center South     98
Hockley                  74
                       ...
Lake Conroe Area          1
Pasadena                  1
Willow Meadows Area       1
Westchase Area            1
Memorial West             1
Name: Market Area Name:, Length: 73, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Home For Sales:
559      134
555      105
425.0     98
287       73
820.0     71
        ...
115.0      1
495.0      1
327.0      1
287.0      1
268        1
Name: Home For Sales:, Length: 83, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average List Price:
$358,099     134
$462,259     128
$401,192     105
$197,820      98
$315,400      74
            ...
$223,137       1
$400,610       1
$369,656       1
$497,916       1
$704,744       1
Name: Average List Price:, Length: 73, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Square Ft.:
2,629    134
2,329    128
2,912    105
1,662     98
2,161     74
        ...
2,488      1
2,822      1
1,968      1
2,550      1
2,651      1
Name: Average Square Ft.:, Length: 74, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Price/Square Ft.:
$135.88     134
$195.15     128
$137.48     105
$120.99      98
$141.22      74
           ...
$141.30       1
$130.43       1
$224.37       1
$258          1
$115.38       1
Name: Average Price/Square Ft.:, Length: 73, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Home For Lease:
30.0     134
223.0    128
61.0     105
71.0      98
104.0     77
        ...
45.0       2
274.0      1
79.0       1
95.0       1
72.0       1
Name: Home For Lease:, Length: 66, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Lease:
$1,914     134
$1,896     128
$1,939     105
$1,462      98
$1,937      88
          ...
$2,116       1
$1,843       1
$2,572       1
$2,134       1
$6,181       1
Name: Average Lease:, Length: 72, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Average Lease/Square Ft.:
$0.98     235
$1.26     128
$1.01     125
$1.02      98
$0.93      85
$1.09      72
$0.90      72
$1.57      70
$0.96      68
$0.92      63
$1.23      61
$1.55      61
$1.27      50
$0.99      47
$1.29      47
$1.03      47
$1.06      43
$1.47      37
$1.41      36
$0.95      34
$1.53      28
$0.94      28
$1.10      20
$1.30      20
$1.68      20
$1.15      17
$1.11      15
$1.13      14
$1.58      13
$1.28      13
$1.12       9
$1.49       7
$1.48       6
$1.54       5
$0.87       5
$1.85       4
$0.88       4
$1.14       4
$1.07       3
$1.50       3
$1.19       3
$2.10       3
$0.97       2
$1.71       1
$1.08       1
$3.94       1
Name: Average Lease/Square Ft.:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Median Appraised Value / Square ft.:
$196.51     9
$253.57     8
$76.60      8
$41.05      6
$120.49     6
           ..
$259.57     1
$108.95     1
$82.08      1
$140.08     1
$95.17      1
Name: Median Appraised Value / Square ft.:, Length: 615, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Den:
['1st', '1st']                      33
['17x15, 1st', '5.18 x 4.57(m)']    27
['17x16, 1st', '5.18 x 4.88(m)']    21
['20x15, 1st', '6.10 x 4.57(m)']    21
['20x16, 1st', '6.10 x 4.88(m)']    21
                                    ..
['17 x 17, 1st', '17 , 17, 1st']     1
['22X13, 1st', '6.71 x 3.96(m)']     1
['26X17, 1st', '7.92 x 5.18(m)']     1
['20 X 14, 1st', '20 , 14, 1st']     1
['22X20, 1st', '6.71 x 6.10(m)']     1
Name: Den:, Length: 652, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Bath:
['1st', '1st']                                                                                                                                                          178
['1st', '2nd', '1st', '2nd']                                                                                                                                             86
['2nd', '1st', '2nd', '1st']                                                                                                                                             83
['1st', '1st', '1st', '1st']                                                                                                                                             62
['1st', '2nd', '2nd', '1st', '2nd', '2nd']                                                                                                                               60
                                                                                                                                                                       ...
['10x8, 3rd', '5x4, 2nd', '10x8, 1st', '3.05 x 2.44(m)', '1.52 x 1.22(m)', '3.05 x 2.44(m)']                                                                              1
["4''Ã9.1'', 1st", "5.6''Ã9.2'', 2nd", "6.8''Ã9.5'', 2nd", "5.6''Ã9.5'', 2nd", "4''Ã9.1'', 1st", "5.6''Ã9.2'', 2nd", "6.8''Ã9.5'', 2nd", "5.6''Ã9.5'', 2nd"]      1
['5x5, 1st', '11x5, 1st', '1.52 x 1.52(m)', '3.35 x 1.52(m)']                                                                                                             1
['12 x 6, 1st', '12 , 6, 1st']                                                                                                                                            1
['6X11, 1st', '1.83 x 3.35(m)']                                                                                                                                           1
Name: Bath:, Length: 751, dtype: int64
----------------------------------------------------------------------------------------------------

* `Controlled Access`categories are mixed  of 'Automatic', 'Driveway', 'Manned' and 'Intercom' that makes me believe the rest of the house do not have any type of controlled access. I think filling none values with 'No controlled access' would be reasonable.
* Same as `Water Amenity` there are so many categories for 'Private Pool Desc'. After counting each category for `Private Pool:` groups figured out that there are description for house without private pool and I think it may happened by mistake and I decided to drop this column.
* `Master Planned Community` and `Market Area Name` categories seems to be same as subdivision name and we will deal with them later on subdivision section
* `Home For Sales`, `Average List Price`,`Average Square Ft.`,`Average Price/Square Ft.`, `Home For Lease`, `Average Lease`and `Average Lease/Square Ft.`, are the facts (based on active listing) for each subdivision and can be fill by the value for same subdivision.
* `Den` and `Bath` are dimension along with other values like '1th' which I think is typo mistake and I decided to drop them.

In [17]:
#counting 'Private Pool Desc:' category for `Private Pool:` groups
single_family_df.groupby('Private Pool:')['Private Pool Desc:'].value_counts()

Private Pool:  Private Pool Desc:
No             In Ground                                 14
               Enclosed, Heated, In Ground                6
               Above Ground                               4
               Heated, In Ground                          4
               Gunite                                     3
               Gunite, In Ground                          3
               Fiberglass                                 2
               Gunite, Heated, In Ground                  1
Yes            Gunite, In Ground                        341
               In Ground                                341
               Gunite, Heated, In Ground                233
               Gunite                                   214
               Heated, In Ground                         88
               Gunite, Heated, In Ground, Salt Water     46
               Gunite, Heated                            40
               Above Ground                              24
               Heated, In Ground, Salt Water             21
               Gunite, In Ground, Salt Water             20
               In Ground, Salt Water                     16
               Gunite, Salt Water                        13
               Gunite, Heated, Salt Water                10
               Fiberglass, In Ground                      5
               Heated                                     5
               In Ground, Vinyl Lined                     5
               Enclosed, In Ground                        4
               Salt Water                                 4
               Above Ground, Heated                       2
               Above Ground, In Ground                    2
               Enclosed, Gunite, In Ground                2
               Enclosed, Heated, In Ground                2
               Fiberglass                                 2
               Heated, Salt Water                         2
               Above Ground, Fiberglass, Heated           1
               Above Ground, Gunite, Heated               1
               Above Ground, Vinyl Lined                  1
               Enclosed, Heated                           1
               Enclosed, Salt Water                       1
               Fiberglass, In Ground, Vinyl Lined         1
               Fiberglass, Salt Water                     1
               Vinyl Lined                                1
Name: Private Pool Desc:, dtype: int64

In [18]:
single_family_df.drop(['Private Pool Desc:','Bath:','Den:'],axis=1,inplace=True)
# Replacing None value for 'Carport Description:' with 'not applicable'
single_family_df['Controlled Access:'][single_family_df['Controlled Access:'].isnull()]='no controlled access'

## 1.6.3 Features With 70%-80% Missing Values<a id='1.6.3_Features_With_70%_-_80%_Missing_Values'></a>

Now I investigating features with more than 70% none values:

In [19]:
missing = missing_cal(single_family_df)
nan_70 = missing.loc[((missing['%']>70 )& (missing['%']<80))].index
print('Number of Features with more than 70% None: ',len(nan_70))

Number of Features with more than 70% None:  2

In [20]:
missing.loc[nan_70].sort_values(by="%")

               count          %
Family Room:    7858  70.532268
Primary Bath:   8315  74.634234

In [21]:
#printing value count for each feature with more than 70 none value
for item in nan_70:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Family Room:
['1st', '1st']                                    75
['18x16, 1st', '5.49 x 4.88(m)']                  52
['20x16, 1st', '6.10 x 4.88(m)']                  51
['21x17, 1st', '6.40 x 5.18(m)']                  39
['17x16, 1st', '5.18 x 4.88(m)']                  37
                                                  ..
['20X13, 1st', '6.10 x 3.96(m)']                   1
['26.4x20.9, 1st', '8.05 x 6.37(m)']               1
['31x18, 1st', '9.45 x 5.49(m)']                   1
['19.5x18.5, 1st', '5.94 x 5.64(m)']               1
['16\'11"x12\'2", 1st', '16\'11",12\'2", 1st']     1
Name: Family Room:, Length: 939, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Primary Bath:
['1st', '1st']                                                      765
['2nd', '2nd']                                                      308
['3rd', '3rd']                                                      128
['12x10, 1st', '3.66 x 3.05(m)']                                     31
['12x7, 1st', '3.66 x 2.13(m)']                                      20
                                                                   ...
['8*8, 1st', '8*8, 1st']                                              1
['15x16, 1st', '13x16, 1st', '4.57 x 4.88(m)', '3.96 x 4.88(m)']      1
['10X13, 1st', '3.05 x 3.96(m)']                                      1
['14 x 20, 2nd', '14 , 20, 2nd']                                      1
['13x13, 2nd', '3.96 x 3.96(m)']                                      1
Name: Primary Bath:, Length: 891, dtype: int64
----------------------------------------------------------------------------------------------------

`Family Room` and `Primary Bath` are dimension for family room and master bath room and all houses should have these values and can not be 0. I think dropping these features would be appropriate since I can not fill values for more than 70% of houses.

In [22]:
single_family_df.drop(['Family Room:','Primary Bath:'],axis=1,inplace=True)

## 1.6.4 Features With 50%-70% Missing Values<a id='1.6.4_Features_With_50%_-_70%_Missing_Values'></a>

Next step is to look at features with none values between 50% and 70%:

In [23]:
missing = missing_cal(single_family_df)
nan_50_70 = missing.loc[((missing['%']>50 )& (missing['%']<70))].index
print('Number of Features with more than 50% and less than 70% None: ',len(nan_50_70))

Number of Features with more than 50% and less than 70% None:  6

In [24]:
missing.loc[nan_50_70].sort_values(by="%")

                    count          %
Front Door:          6471  58.082757
Breakfast:           6724  60.353649
Garage Carport:      6734  60.443407
Utility Room Desc:   7178  64.428687
Game Room:           7367  66.125123
Study/Library:       7658  68.737097

In [25]:
#printing value count for each feature with more than 50 none value
for item in nan_50_70:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Breakfast:
['1st', '1st']                              192
['10x10, 1st', '3.05 x 3.05(m)']            155
['11x10, 1st', '3.35 x 3.05(m)']            149
['12x10, 1st', '3.66 x 3.05(m)']            147
['10x9, 1st', '3.05 x 2.74(m)']             108
                                           ...
['10x9.8, 1st', '3.05 x 2.99(m)']             1
['10 x 5, 3rd', '10 , 5, 3rd']                1
['11.4 x 11.1, 1st', '11.4 , 11.1, 1st']      1
["10'10X11'5, 1st", "10'10,11'5, 1st"]        1
['9 X 16, 1st', '9 , 16, 1st']                1
Name: Breakfast:, Length: 769, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Game Room:
['2nd', '2nd']                                                        72
['18x14, 2nd', '5.49 x 4.27(m)']                                      52
['19x16, 2nd', '5.79 x 4.88(m)']                                      44
['18x16, 2nd', '5.49 x 4.88(m)']                                      37
['16x14, 2nd', '4.88 x 4.27(m)']                                      37
                                                                      ..
['27x19, 2nd', '8.23 x 5.79(m)']                                       1
['16x13, 2nd', '15.5x12, 2nd', '4.88 x 3.96(m)', '4.72 x 3.66(m)']     1
["13'x10', 2nd", "13',10', 2nd"]                                       1
['15 x 21, 2nd', '15 , 21, 2nd']                                       1
['14 x 22, 3rd', '14 , 22, 3rd']                                       1
Name: Game Room:, Length: 1313, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Study/Library:
['12x11, 1st', '3.66 x 3.35(m)']                  163
['12x12, 1st', '3.66 x 3.66(m)']                  133
['13x11, 1st', '3.96 x 3.35(m)']                  127
['13x12, 1st', '3.96 x 3.66(m)']                  127
['14x12, 1st', '4.27 x 3.66(m)']                   94
                                                 ...
['14\'10" x 12\', 2nd', '14\'10" , 12\', 2nd']      1
['16x12,  1st', '4.88 x 3.66(m)']                   1
["14'x10.5', 1st", "14',10.5', 1st"]                1
['26x15, 1st', '7.92 x 4.57(m)']                    1
['13x13, 2nd', '3.96 x 3.96(m)']                    1
Name: Study/Library:, Length: 836, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Garage Carport:
Auto Garage Door Opener                                                                   1185
Auto Garage Door Opener, Double-Wide Driveway                                              602
Double-Wide Driveway                                                                       600
Additional Parking                                                                         192
Additional Parking, Auto Garage Door Opener, Double-Wide Driveway                          162
                                                                                          ...
Auto Garage Door Opener, Porte-Cochere, Workshop                                             1
Additional Parking, Double-Wide Driveway, Golf Cart Garage                                   1
Boat Parking, Double-Wide Driveway, Driveway Gate, RV Parking, Workshop                      1
Additional Parking, Auto Garage Door Opener, Double-Wide Driveway, EV Charging Station       1
Auto Driveway Gate, Workshop                                                                 1
Name: Garage Carport:, Length: 312, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Front Door:
South                1362
North                1267
West                  870
East                  849
East, North            89
South, West            78
North, West            77
East, South            71
East, West              4
North, South            2
East, North, West       1
Name: Front Door:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Utility Room Desc:
['1st', '1st']                                    726
['2nd', '2nd']                                    289
['3rd', '3rd']                                    125
['In House', 'In House']                           94
['6x6, 1st', '1.83 x 1.83(m)']                     92
                                                 ...
['8x5, In Garage', '2.44 x 1.52(m)']                1
['3x8, 1st', '0.91 x 2.44(m)']                      1
['7\'11" x 6\'0", 1st', '7\'11" , 6\'0", 1st']      1
['07X17, 1st', '2.13 x 5.18(m)']                    1
['8*8, 1st', '8*8, 1st']                            1
Name: Utility Room Desc:, Length: 854, dtype: int64
----------------------------------------------------------------------------------------------------

We can calculate area for `Utility Room`, `Study/Library`. `Game Room`and `Breakfast` based on  dimension we have and assume the NA values are zero for those houses that do not have these rooms. I drop `Garage Carport` and `Front Door` since there is no information for rest of the house.

In [26]:
def area_calc(item,pattern = "([\d.]+)(?:.*?([\d.]+))?.*?[x\*].*?([\d.]+)(?:.*?([\d.]+))?"):
    """This function calculates are based on dimension passed in as parameter. Regular experession
    pattern will find dimension and group them as feet and inch"""
    pattern = re.compile(pattern,re.IGNORECASE)
    area=0
    dim=[]
    if type(item)==list:
        for i in item:
            if (('x' in i or 'X' in i or '*' in i )and '(m)' not in i ):
                dim.append(i.replace('[','').strip())
        for d in dim:
            d=d.replace(' ','').strip()
            match=pattern.findall(d)
            try:
                dimension_list = [float(item) if len(item)>0 else 0 for item in match[0]]
                area += (dimension_list[0]+(dimension_list[1]/12))*(dimension_list[2]+(dimension_list[3]/12))
            except:
                area=None
        return(area)

In [27]:
# Calculating area for Utility room
single_family_df['UtilitySqft'] = single_family_df['Utility Room Desc:'].str.split(',')
single_family_df['UtilitySqft'] = single_family_df['UtilitySqft'].apply(area_calc)

# Calculating area for Study/Library room
single_family_df['StudySqft'] = single_family_df['Study/Library:'].str.split(',')
single_family_df['StudySqft'] = single_family_df['StudySqft'].apply(area_calc)

# Calculating area for Game room
single_family_df['GameSqft'] = single_family_df['Game Room:'].str.split(',')
single_family_df['GameSqft'] = single_family_df['GameSqft'].apply(area_calc)

# Calculating area for Breakfast
single_family_df['BreakfastSqft'] = single_family_df['Breakfast:'].str.split(',')
single_family_df['BreakfastSqft'] = single_family_df['BreakfastSqft'].apply(area_calc)

single_family_df.update(single_family_df[['UtilitySqft','StudySqft','GameSqft','BreakfastSqft']].fillna(0))

In [28]:
single_family_df.drop(list(nan_50_70),axis=1,inplace=True)

So far I investigated features with the none value more than 50% and still need to dig more and also fill values for features that are the facts (based on active listing) for each subdivision like: `Home For Sales`, `Average List Price`,`Average Square Ft.`,`Average Price/Square Ft.`, `Home For Lease`, `Average Lease`and `Average Lease/Square Ft.`. But before that lets take a look at features with none values more than 10%:

## 1.6.5 Features With 10%-50% Missing Values<a id='1.6.5_Features_With_10%_-_50%_Missing_Values'></a>

In [29]:
missing = missing_cal(single_family_df)
nan_10_50 = missing.loc[((missing['%']>10 )& (missing['%']<50))].index
print('Number of Features with more than 10% and less than 50% None: ',len(nan_10_50))

Number of Features with more than 10% and less than 50% None:  35

In [30]:
missing.loc[nan_10_50].sort_values(by="%")

                            count          %
Garage(s):                   1292  11.596805
Tax Rate:                    1323  11.875056
Dishwasher:                  1413  12.682883
Bedroom Desc:                1682  15.097388
Median Appraised Value:      1746  15.671843
Median Year Built:           1746  15.671843
Median Lot Square Ft.:       1746  15.671843
Median Square Ft.:           1746  15.671843
Single Family Properties:    1746  15.671843
County / Zip Code:           1746  15.671843
Subdivision Name:            1746  15.671843
Neighborhood Value Range:    1746  15.671843
Disposal:                    1799  16.147563
Microwave:                   1922  17.251593
Financing Considered:        1965  17.637555
Floors:                      2045  18.355623
Range:                       2077  18.642851
Room Description:            2134  19.154474
Oven:                        2425  21.766448
Connections:                 2507  22.502468
Exterior:                    2573  23.094875
Median Price / Square ft.:   2670  23.965533
Taxes w/o Exemp:             2833  25.428597
Energy Feature:              3008  26.999372
Bathroom Description:        3025  27.151961
Countertop:                  3098  27.807199
Interior:                    3150  28.273943
Kitchen:                     3304  29.656225
Dining:                      3524  31.630913
Kitchen Desc:                3923  35.212279
Fireplace:                   4531  40.669599
Living:                      4847  43.505969
Compactor:                   5171  46.414146
Area Pool:                   5315  47.706669
Ice Maker:                   5476  49.151782

In [31]:
#printing value count for each feature with more than 50 none value
for item in nan_10_50:
    print('Value Count for '+item)
    print(single_family_df[item].value_counts())
    print('-'*100)

Value Count for Garage(s):
2 / Attached                                    5626
2 / Detached                                    1063
3 / Attached                                     686
1 / Detached                                     341
1 / Attached                                     320
                                                ...
2 / Attached,Attached/Detached,Detached            1
8 / Attached/Detached                              1
5 / Attached,Attached/Detached,Detached,Over       1
6 / Detached,Oversized                             1
6 / Detached,Oversized,Tandem                      1
Name: Garage(s):, Length: 114, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Living:
['15x13, 1st', '4.57 x 3.96(m)']                                            58
['20x15, 1st', '6.10 x 4.57(m)']                                            57
['14x12, 1st', '4.27 x 3.66(m)']                                            57
['18x15, 1st', '5.49 x 4.57(m)']                                            55
['20x16, 1st', '6.10 x 4.88(m)']                                            55
                                                                            ..
['15.4x13.6,  2nd', '20.6x19,  1st', '4.69 x 4.15(m)', '6.28 x 5.79(m)']     1
['73x32, 1st', '22.25 x 9.75(m)']                                            1
['16 x 17, 1st', '16 , 17, 1st']                                             1
['14.5 X 22.2, 2nd', '14\' 6" , 22\'3", 2nd']                                1
['13x13, 2nd', '3.96 x 3.96(m)']                                             1
Name: Living:, Length: 1619, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Dining:
['12x11, 1st', '3.66 x 3.35(m)']                    220
['13x11, 1st', '3.96 x 3.35(m)']                    203
['13x12, 1st', '3.96 x 3.66(m)']                    184
['14x12, 1st', '4.27 x 3.66(m)']                    175
['1st', '1st']                                      172
                                                   ...
['17.6 x 9.9, 1st', '17.6 , 9.9, 1st']                1
["12'-8' x 10', 1st", "12'-8' , 10', 1st"]            1
['21x11, 1st', '6.40 x 3.35(m)']                      1
['14\'8" X 10\'4", 1st', '14\'8" , 10\'4", 1st']      1
['18x15.5, 1st', '5.49 x 4.72(m)']                    1
Name: Dining:, Length: 1308, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Kitchen:
['1st', '1st']                                        376
['14x12, 1st', '4.27 x 3.66(m)']                      129
['12x10, 1st', '3.66 x 3.05(m)']                      116
['12x11, 1st', '3.66 x 3.35(m)']                      100
['13x11, 1st', '3.96 x 3.35(m)']                       97
                                                     ...
['15 x17, 1st', '15 ,17, 1st']                          1
['11.5 x 7.3, 1st', '11.5 , 7.3, 1st']                  1
['17 x 8, 1st', '17 , 8, 1st']                          1
['11X21, 1st', '3.35 x 6.40(m)']                        1
['9\' 11" x 10\'9", 1st', '9\' 11" , 10\'9", 1st']      1
Name: Kitchen:, Length: 1597, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Room Description:
['1 Living Area', '1 Living Area']                                                                                                                                                                                                                                                                                                              135
['Breakfast Room, Family Room, Formal Dining, Gameroom Up, Study/Library, Utility Room in House,', 'Breakfast Room, Family Room, Formal Dining, Gameroom Up, Study/Library, Utility Room in House,']                                                                                                                                             93
['Utility Room in House', 'Utility Room in House']                                                                                                                                                                                                                                                                                               73
['Breakfast Room, Family Room, Formal Dining, Utility Room in House,', 'Breakfast Room, Family Room, Formal Dining, Utility Room in House,']                                                                                                                                                                                                     65
['Breakfast Room, Family Room, Formal Dining, Formal Living, Utility Room in House,', 'Breakfast Room, Family Room, Formal Dining, Formal Living, Utility Room in House,']                                                                                                                                                                       62
                                                                                                                                                                                                                                                                                                                                               ...
['1 Living Area, Breakfast Room, Family Room, Guest Suite, Living Area - 1st Floor, Study/Library, Utility Room in House,', '1 Living Area, Breakfast Room, Family Room, Guest Suite, Living Area - 1st Floor, Study/Library, Utility Room in House,']                                                                                            1
['Family Room, Formal Dining, Formal Living, Gameroom Down, Kitchen/Dining Combo, Living Area - 1st Floor,', 'Family Room, Formal Dining, Formal Living, Gameroom Down, Kitchen/Dining Combo, Living Area - 1st Floor,']                                                                                                                          1
['1 Living Area, Family Room, Garage Apartment, Living Area - 1st Floor, Quarters/Guest House, Utility Room in Garage,', '1 Living Area, Family Room, Garage Apartment, Living Area - 1st Floor, Quarters/Guest House, Utility Room in Garage,']                                                                                                  1
['1 Living Area, Breakfast Room, Formal Dining, Garage Apartment, Guest Suite, Guest Suite w/Kitchen, Living Area - 1st Floor, Study/Library, Utility Room in House,', '1 Living Area, Breakfast Room, Formal Dining, Garage Apartment, Guest Suite, Guest Suite w/Kitchen, Living Area - 1st Floor, Study/Library, Utility Room in House,']      1
['1 Living Area, Family Room, Formal Dining, Formal Living, Living Area - 1st Floor, Living/Dining Combo, Utility Room in House,', '1 Living Area, Family Room, Formal Dining, Formal Living, Living Area - 1st Floor, Living/Dining Combo, Utility Room in House,']                                                                              1
Name: Room Description:, Length: 3104, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Fireplace:
1/Gaslog Fireplace                                             1882
1                                                              1131
1/Gas Connections                                               872
1/Wood Burning Fireplace                                        545
1/Gas Connections, Gaslog Fireplace                             460
                                                               ...
4/Mock Fireplace                                                  1
7/Gas Connections, Gaslog Fireplace, Wood Burning Fireplace       1
3/Freestanding, Gas Connections                                   1
1/Freestanding, Mock Fireplace                                    1
3/Freestanding, Gaslog Fireplace                                  1
Name: Fireplace:, Length: 92, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Countertop:
Granite                    3984
Quartz                      991
granite                     510
GRANITE                     364
Stone                       137
                           ...
cultured marble               1
Mrbl, Qrtz, Qrtzte, Gra       1
Natural, tile, wood           1
Solid surface Corian          1
Corianders                    1
Name: Countertop:, Length: 550, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Floors:
Carpet, Tile                                       1778
Carpet, Tile, Wood                                 1577
Tile, Wood                                          872
Carpet, Engineered Wood, Tile                       498
Tile                                                385
                                                   ...
Bamboo, Engineered Wood, Tile, Wood                   1
Carpet, Concrete, Slate, Tile, Travertine, Wood       1
Bamboo, Laminate, Tile, Wood                          1
Carpet, Engineered Wood, Stone, Travertine            1
Marble Floors, Slate, Tile, Vinyl Plank, Wood         1
Name: Floors:, Length: 346, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Bedroom Desc:
All Bedrooms Down                                                                                             1282
Primary Bed - 1st Floor                                                                                        814
Primary Bed - 1st Floor, Walk-In Closet                                                                        634
All Bedrooms Up                                                                                                472
All Bedrooms Down, Primary Bed - 1st Floor                                                                     367
                                                                                                              ...
2 Bedrooms Down, 2 Primary Bedrooms, En-Suite Bath, Primary Bed - 3rd Floor, Sitting Area, Split Plan, Wal       1
1 Bedroom Down - Not Primary BR, All Bedrooms Up, Primary Bed - 2nd Floor, Split Plan, Walk-In Closet            1
2 Bedrooms Down, 2 Primary Bedrooms, Primary Bed - 1st Floor, Primary Bed - 2nd Floor, Sitting Area, Spli        1
1 Bedroom Down - Not Primary BR, Primary Bed - 3rd Floor, Multilevel Bedroom                                     1
1 Bedroom Down - Not Primary BR, 2 Bedrooms Down, En-Suite Bath, Primary Bed - 3rd Floor, Sitting Area, W        1
Name: Bedroom Desc:, Length: 455, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Kitchen Desc:
Breakfast Bar, Kitchen open to Family Room, Pantry                                                                                                         387
Pantry                                                                                                                                                     362
Kitchen open to Family Room                                                                                                                                281
Breakfast Bar                                                                                                                                              270
Kitchen open to Family Room, Pantry                                                                                                                        238
                                                                                                                                                          ...
Kitchen open to Family Room, Pantry, Pot Filler, Pots/Pans Drawers, Soft Closing Cabinets, Soft Closing Drawers, Under Cabinet Lighting, Walk-in Pantry      1
Breakfast Bar, Reverse Osmosis                                                                                                                               1
Instant Hot Water, Pantry, Under Cabinet Lighting                                                                                                            1
Breakfast Bar, Island w/ Cooktop, Kitchen open to Family Room, Second Sink, Under Cabinet Lighting, Walk-in Pantry                                           1
Pots/Pans Drawers, Walk-in Pantry                                                                                                                            1
Name: Kitchen Desc:, Length: 956, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Bathroom Description:
Double Sinks, Primary Bath + Separate Shower                                                                  1122
Double Sinks, Primary Bath + Separate Shower, Whirlpool/Jetted Tub                                             387
Primary Bath + Separate Shower                                                                                 360
Double Sinks, Half Bath, Primary Bath + Separate Shower                                                        360
Primary Bath Shower Only                                                                                       292
                                                                                                              ...
Disabled Access, Double Sinks, Primary Bath Shower Only, Shower Only                                             1
Double Sinks, Half Bath, Hollywood Bath, Tub w/shower, Whirlpool/Jetted Tub                                      1
Disabled Access, Half Bath, Primary Bath + Separate Shower, Tub w/shower                                         1
Double Sinks, Half Bath, Hollywood Bath, Primary Bath + Separate Shower, Shower Only, Vanity Area, Whirlpo       1
Bidet, Double Sinks, Half Bath, Primary Bath + Separate Shower, Tub w/shower, Whirlpool/Jetted Tub               1
Name: Bathroom Description:, Length: 504, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Connections:
Electric Dryer Connections, Gas Dryer Connections, Washer Connections    4209
Electric Dryer Connections, Washer Connections                           2682
Gas Dryer Connections, Washer Connections                                 736
Electric Dryer Connections                                                336
Electric Dryer Connections, Gas Dryer Connections                         276
Washer Connections                                                        268
Gas Dryer Connections                                                     127
Name: Connections:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Ice Maker:
No     5129
Yes     536
Name: Ice Maker:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Microwave:
Yes    8282
No      937
Name: Microwave:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Oven:
Electric Oven                                                                  2251
Gas Oven                                                                       2102
Double Oven                                                                     612
Double Oven, Electric Oven                                                      571
Electric Oven, Single Oven                                                      420
Single Oven                                                                     399
Convection Oven                                                                 315
Freestanding Oven, Gas Oven                                                     276
Freestanding Oven                                                               235
Convection Oven, Double Oven                                                    205
Convection Oven, Double Oven, Electric Oven                                     188
Convection Oven, Electric Oven                                                  178
Double Oven, Gas Oven                                                           155
Gas Oven, Single Oven                                                           126
Freestanding Oven, Gas Oven, Single Oven                                        122
Electric Oven, Freestanding Oven                                                 98
Convection Oven, Gas Oven                                                        86
Convection Oven, Electric Oven, Single Oven                                      57
Convection Oven, Single Oven                                                     51
Convection Oven, Double Oven, Gas Oven                                           46
Electric Oven, Gas Oven                                                          31
Electric Oven, Freestanding Oven, Single Oven                                    24
Convection Oven, Gas Oven, Single Oven                                           23
Freestanding Oven, Single Oven                                                   18
Double Oven, Freestanding Oven                                                   17
Double Oven, Electric Oven, Gas Oven                                             10
Convection Oven, Freestanding Oven                                                9
Convection Oven, Double Oven, Electric Oven, Freestanding Oven                    9
Double Oven, Electric Oven, Freestanding Oven                                     9
Double Oven, Freestanding Oven, Gas Oven                                          9
Convection Oven, Double Oven, Freestanding Oven, Gas Oven                         8
Convection Oven, Double Oven, Freestanding Oven                                   7
Convection Oven, Freestanding Oven, Gas Oven                                      5
Convection Oven, Electric Oven, Gas Oven                                          5
Convection Oven, Double Oven, Electric Oven, Gas Oven                             5
Convection Oven, Freestanding Oven, Gas Oven, Single Oven                         4
Convection Oven, Double Oven, Electric Oven, Freestanding Oven, Gas Oven          4
Double Oven, Single Oven                                                          4
Convection Oven, Electric Oven, Freestanding Oven                                 4
Electric Oven, Freestanding Oven, Gas Oven                                        4
Convection Oven, Electric Oven, Freestanding Oven, Single Oven                    2
Double Oven, Electric Oven, Freestanding Oven, Gas Oven                           2
Convection Oven, Double Oven, Electric Oven, Single Oven                          2
Convection Oven, Electric Oven, Freestanding Oven, Gas Oven                       1
Double Oven, Electric Oven, Gas Oven, Single Oven                                 1
Double Oven, Electric Oven, Single Oven                                           1
Convection Oven, Double Oven, Single Oven                                         1
Convection Oven, Double Oven, Electric Oven, Freestanding Oven, Single Oven       1
Convection Oven, Freestanding Oven, Single Oven                                   1
Convection Oven, Double Oven, Freestanding Oven, Single Oven                      1
Electric Oven, Freestanding Oven, Gas Oven, Single Oven                           1
Name: Oven:, dtype: int64
----------------------------------------------------------------------------------------------------
Value Count for Compactor:
No     5745
Yes     225
Name: Compactor:, dtype: int64

`Room Description`, `Countertop`, `Floors`, `Bedroom Desc`, `Kitchen Desc`, `Bathroom Description`, `Connections`, `Oven`, `Range`, `Energy Feature`, `Interior`, `Exterior`, `Financing Considered` are just information and we can not fill them with unknown values since some may not be accurate and I don't think they are relevant to our analysis so, I will drop all of them.
We also do not need `County / Zip Code:` since we do have another column for zip codes.
I could not find any information regarding to `Single Family Properties:` so, this column will be dropped as well.

In [32]:
single_family_df.drop(['Room Description:', 'Countertop:', 'Floors:', 'Bedroom Desc:', 'Kitchen Desc:', 
                       'Bathroom Description:','Connections:', 'Oven:', 'Range:', 'Energy Feature:',
                       'Interior:', 'Exterior:', 'Financing Considered:','Single Family Properties:','County / Zip Code:'], axis=1,inplace=True)

`Ice Maker`, `Microwave`, `Compactor`, `Dishwasher`, `Disposal` and `Area Pool` are 'Yes/No' categories and I think it is relevant to fill none values with 'No'. For sure it is a little bit optimistic since some houses may have those features and owner/agent forgot to fill them but for now filling with 'No' value is the best way to dealing with them.

In [33]:
single_family_df['Disposal:'][single_family_df['Disposal:'].isnull()]='No'
single_family_df['Ice Maker:'][single_family_df['Ice Maker:'].isnull()]='No'
single_family_df['Compactor:'][single_family_df['Compactor:'].isnull()]='No'
single_family_df['Area Pool:'][single_family_df['Area Pool:'].isnull()]='No'
single_family_df['Microwave:'][single_family_df['Microwave:'].isnull()]='No'
single_family_df['Dishwasher:'][single_family_df['Dishwasher:'].isnull()]='No'

At this point I am investigating other features indevisually:

## 1.6.5.1 Garage<a id='1.6.5.1_Garage'></a>

In [34]:
single_family_df['Garage(s):'].value_counts()

2 / Attached                                    5626
2 / Detached                                    1063
3 / Attached                                     686
1 / Detached                                     341
1 / Attached                                     320
                                                ...
2 / Attached,Attached/Detached,Detached            1
8 / Attached/Detached                              1
5 / Attached,Attached/Detached,Detached,Over       1
6 / Detached,Oversized                             1
6 / Detached,Oversized,Tandem                      1
Name: Garage(s):, Length: 114, dtype: int64

The important part of this feature is the number of garage each house has. Also we now almost every single family homes have at least 2 garages and it is relevant to fill none values with '2'.

In [35]:
single_family_df['Garage(s):'].fillna('2',inplace=True)
single_family_df['Garage'] = [item[0] if item !=None else 0 for item in single_family_df['Garage(s):'].str.split(' ') ]
single_family_df['Garage']=single_family_df['Garage'].astype(int)
single_family_df.drop('Garage(s):',axis=1,inplace=True)
single_family_df['Garage'].value_counts()

2     8703
3     1445
1      758
4      175
5       21
6       11
8        7
7        4
24       2
10       1
40       1
56       1
9        1
57       1
63       1
26       1
42       1
27       1
51       1
20       1
21       1
45       1
22       1
58       1
Name: Garage, dtype: int64

As you can see there are some houses with more than 10 garage which is odd. After checking images for some of these houses in www.HAR.com it seems those have only 2 garage and I fill those values with 2 which is the median of this feature.

In [36]:
single_family_df.Garage[single_family_df['Garage']>8]=single_family_df['Garage'].median()
single_family_df['Garage'].value_counts()

2    8720
3    1445
1     758
4     175
5      21
6      11
8       7
7       4
Name: Garage, dtype: int64

## 1.6.5.2 Living<a id='1.6.5.2_Living'></a>

To calculate the living area I use area calculation function, pass in the dimension of the living room and return the area and for the next step I will fill none values with the average of living room area per subdivision

In [37]:
single_family_df['LivingSqft'] = single_family_df['Living:'].str.split(',')
single_family_df['LivingSqft'] = single_family_df['LivingSqft'].apply(area_calc)

In [38]:
single_family_df['LivingSqft'].describe()

count    6294.000000
mean      288.996780
std       152.801571
min         0.000000
25%       210.000000
50%       272.125000
75%       342.000000
max      6651.000000
Name: LivingSqft, dtype: float64

## 1.6.5.3 Dining<a id='1.6.5.3_Dining'></a>

In [39]:
single_family_df['Dining:'].value_counts()

['12x11, 1st', '3.66 x 3.35(m)']                    220
['13x11, 1st', '3.96 x 3.35(m)']                    203
['13x12, 1st', '3.96 x 3.66(m)']                    184
['14x12, 1st', '4.27 x 3.66(m)']                    175
['1st', '1st']                                      172
                                                   ...
['17.6 x 9.9, 1st', '17.6 , 9.9, 1st']                1
["12'-8' x 10', 1st", "12'-8' , 10', 1st"]            1
['21x11, 1st', '6.40 x 3.35(m)']                      1
['14\'8" X 10\'4", 1st', '14\'8" , 10\'4", 1st']      1
['18x15.5, 1st', '5.49 x 4.72(m)']                    1
Name: Dining:, Length: 1308, dtype: int64

In [40]:
single_family_df['DiningSqft'] = single_family_df['Dining:'].str.split(',')
single_family_df['DiningSqft'] = single_family_df['DiningSqft'].apply(area_calc)

In [41]:
single_family_df[['Dining:','DiningSqft']].sample(20,random_state=101)

                                      Dining:  DiningSqft
10595        ['12x14, 1st', '3.66 x 4.27(m)']       168.0
9396         ['13X10, 1st', '3.96 x 3.05(m)']       130.0
6552          ['10x9, 1st', '3.05 x 2.74(m)']        90.0
2512         ['12x12, 1st', '3.66 x 3.66(m)']       144.0
7776                                      NaN         NaN
2965                                      NaN         NaN
8038         ['10x11, 1st', '3.05 x 3.35(m)']       110.0
7054         ['12x16, 1st', '3.66 x 4.88(m)']       192.0
2269         ['12x13, 2nd', '3.66 x 3.96(m)']       156.0
1475                                      NaN         NaN
7083   ["15' x 13'2, 1st", "15' , 13'2, 1st"]       197.5
2321                                      NaN         NaN
6079         ['17x13, 1st', '5.18 x 3.96(m)']       221.0
6107                                      NaN         NaN
1548         ['19x11, 1st', '5.79 x 3.35(m)']       209.0
391          ['14x16, 1st', '4.27 x 4.88(m)']       224.0
659          ['20x14, 1st', '6.10 x 4.27(m)']       280.0
1250           ['9x9, 1st', '2.74 x 2.74(m)']        81.0
6170         ['15x11, 1st', '4.57 x 3.35(m)']       165.0
3449                                      NaN         NaN

## 1.6.5.4 Kitchen<a id='1.6.5.4_Kitchen'></a>

I am using same function to calculate kitchen are in sqft.

In [42]:
single_family_df['KitchenSqft'] = single_family_df['Kitchen:'].str.split(',')
single_family_df['KitchenSqft'] = single_family_df['KitchenSqft'].apply(area_calc)

In [43]:
single_family_df[['Kitchen:','KitchenSqft']].sample(20,random_state=101)

                                     Kitchen:  KitchenSqft
10595        ['12x19, 1st', '3.66 x 5.79(m)']   228.000000
9396         ['13X11, 1st', '3.96 x 3.35(m)']   143.000000
6552          ['11x8, 1st', '3.35 x 2.44(m)']    88.000000
2512          ['9x12, 1st', '2.74 x 3.66(m)']   108.000000
7776                 ['0X0, 1st', '0,0, 1st']     0.000000
2965                                      NaN          NaN
8038                                      NaN          NaN
7054         ['13x17, 1st', '3.96 x 5.18(m)']   221.000000
2269         ['15x12, 2nd', '4.57 x 3.66(m)']   180.000000
1475                                      NaN          NaN
7083   ["22'8 x 11', 1st", "22'8 , 11', 1st"]   249.333333
2321                                      NaN          NaN
6079                                      NaN          NaN
6107                                      NaN          NaN
1548         ['15x14, 1st', '4.57 x 4.27(m)']   210.000000
391          ['11x15, 1st', '3.35 x 4.57(m)']   165.000000
659          ['13x10, 1st', '3.96 x 3.05(m)']   130.000000
1250                                      NaN          NaN
6170         ['12x12, 1st', '3.66 x 3.66(m)']   144.000000
3449         ['24x14, 1st', '7.32 x 4.27(m)']   336.000000

Now we can drop old living, dining and kitchen columns:

In [44]:
single_family_df.drop(['Living:', 'Dining:', 'Kitchen:'], axis=1,inplace=True)

## 1.7 Subdivisions And Their Facts<a id='1.7_Subdivisions_And_their_Facts'></a>

To uniform subdivision I scraped all subdivision names from HAR.com and will replace names with correct one based on similarity:

In [45]:
sub_df = pd.read_csv('../data/raw/Subdivision.csv')
sub_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [46]:
sub_df.head()

           Subdivision    Zip Med.Appraisal Avg.Sqft.  Avg.Yr.Built
0       MARLOWE CONDOS  77002      $522,701     1,100        2018.0
1       Modern Midtown  77002      $469,147     2,096        2014.0
2       Midtowne Plaza  77002      $439,282     2,507        1999.0
3  Macgregor Demerritt  77002      $438,234     2,034        1930.0
4  Hermann Lofts Condo  77002      $385,446     1,546        1998.0

As above table shown Med.Appraisal, Avg.Sqft. and Avg.Yr.Built are same for each subdivision and we can fill none values with these numbers for each column.

In [47]:
single_family_df[['Subdivision:','Subdivision Name:','Market Area Name:','Master Planned Community:','Zip Code:']].head()

,Subdivision:,Subdivision Name:,Market Area Name:,Master Planned Community:,Zip Code:
0,Austin Hadley Place,NaN,Midtown - Houston,NaN,77002
1,Modern Midtown (View subdivision price trend),Modern Midtown,NaN,NaN,77002
2,Modern Midtown (View subdivision price trend),Modern Midtown,NaN,NaN,77002
3,Merkels Sec 01 (View subdivision price trend),Merkels,NaN,NaN,77003
4,MERKELS (View subdivision price trend),Merkels,NaN,NaN,77003

In [48]:
single_family_df[['Subdivision:','Subdivision Name:','Market Area Name:','Master Planned Community:']].isna().sum()

Subdivision:                    5
Subdivision Name:            1746
Market Area Name:            9413
Master Planned Community:    9843
dtype: int64

It seems all these 4 columns are the same. As we can see `Subdivision Name:` has more clean name and since `Market Area Name:` has more standard name for subdivisions so, I will replace none values for `Subdivision Name:` with `Market Area Name:` values to see how many none values will remain.

In [49]:
single_family_df['SubName'] = single_family_df['Subdivision Name:'].fillna(single_family_df['Market Area Name:'])

In [50]:
single_family_df['SubName'].isna().sum()

18

In [51]:
single_family_df[['Subdivision:','Subdivision Name:','Market Area Name:','Master Planned Community:']].loc[single_family_df['SubName'].isna()]

,Subdivision:,Subdivision Name:,Market Area Name:,Master Planned Community:
67,Mckinney Lndg Sub (View subdivision price trend),NaN,NaN,NaN
498,VERMONT STREET GROVE,NaN,NaN,NaN
629,Magnolia Grove (View subdivision price trend),NaN,NaN,NaN
755,SUNSET HEIGHTS (View subdivision price trend),NaN,NaN,NaN
847,24th Street Manor (View subdivision price trend),NaN,NaN,NaN
922,Heights Homes/Herkimer Sub (View subdivision ...,NaN,NaN,NaN
1358,Shepherd Oaks (View subdivision price trend),NaN,NaN,NaN
2097,Oaks of Lawndale,NaN,NaN,NaN
3161,Lakeside T/H (View subdivision price trend),NaN,NaN,NaN
3163,Lakeside T/H (View subdivision price trend),NaN,NaN,NaN
3165,Lakeside T/H (View subdivision price trend),NaN,NaN,NaN
3186,Riverview Place (View subdivision price trend),NaN,NaN,NaN
3336,Retreat At Upland,NaN,NaN,NaN
6122,Grand Oaks,NaN,NaN,NaN
9749,Villages of Cypress Lakes- Cypress Green,NaN,NaN,NaN
9864,Enclave at Longwood,NaN,NaN,NaN
10882,Elyson 70s,NaN,NaN,Elyson
10998,Lilac Bend,NaN,NaN,NaN

I am dropping these 18 rows since I can not find correct subdivision name for them.

In [52]:
single_family_df=single_family_df[~single_family_df['SubName'].isnull()]

In [53]:
single_family_df.drop(['Subdivision Name:','Subdivision:','Market Area Name:','Master Planned Community:'],
                      axis=1,inplace=True)

Now we can take a look at those features related to each subdivision like: `Median Appraised Value:`, `Median Year Built:`, 
`Median Lot Square Ft.:`, `Median Square Ft.:`, `Neighborhood Value Range:`.

In [54]:
single_family_df[['Median Appraised Value:', 'Median Year Built:', 'Median Lot Square Ft.:', 'Median Square Ft.:', 'Neighborhood Value Range:']].isna().sum()

Median Appraised Value:      1728
Median Year Built:           1728
Median Lot Square Ft.:       1728
Median Square Ft.:           1728
Neighborhood Value Range:    1728
dtype: int64

Those features have same number of missing values and it seems it may because of value missing for some the subdivisions. lets take a look:

In [55]:
single_family_df.SubName.loc[single_family_df['Median Appraised Value:'].isna()].value_counts()

Katy - Old Towne                   134
Spring Branch                      128
Cypress South                      105
Medical Center South                98
Hockley                             74
                                  ...
Westchase Area                       1
Fort Bend County North/Richmond      1
Memorial Villages                    1
Pasadena                             1
Willow Meadows Area                  1
Name: SubName, Length: 73, dtype: int64

In [56]:
sub_df.loc[sub_df.Subdivision=='Cypress South']

Empty DataFrame
Columns: [Subdivision, Zip, Med.Appraisal, Avg.Sqft., Avg.Yr.Built]
Index: []

In [57]:
single_family_df['Year Built:'].loc[single_family_df['Median Lot Square Ft.:'].isna()].value_counts()

2020   / Builder               1235
2019   / Builder                 72
2021   / Builder                 68
2019   / Appraisal District      22
2017   / Appraisal District      16
                               ...
2005   / Appraisal                1
2007   / Appraisal                1
2011   / Seller                   1
1965   / Appraisal District       1
2019   / Seller                   1
Name: Year Built:, Length: 98, dtype: int64

It seems there is no information for those subdivisions in HAR.com since more than 90% of them are for new subdivisions. so I will drop those rows.

In [58]:
single_family_df=single_family_df[~single_family_df['Median Appraised Value:'].isnull()]

In [59]:
single_family_df[['Median Appraised Value:', 'Median Year Built:', 'Median Lot Square Ft.:', 'Median Square Ft.:', 'Neighborhood Value Range:']]

,Median Appraised Value:,Median Year Built:,Median Lot Square Ft.:,Median Square Ft.:,Neighborhood Value Range:
1,"$469,147",2014.0,"1,450","2,096",$441 - $476 K
2,"$469,147",2014.0,"1,450","2,096",$441 - $476 K
3,"$141,314",1938.0,"4,700","1,086",$90 - $213 K
4,"$141,314",1938.0,"4,700","1,086",$90 - $213 K
5,"$404,408",2016.0,"1,586","2,058",$329 - $443 K
...,...,...,...,...,...
11136,"$75,165",1950.0,"6,325","1,160",$56 - $111 K
11137,"$106,856",1963.0,"7,100","1,313",$37 - $170 K
11138,"$106,856",1963.0,"7,100","1,313",$37 - $170 K
11139,"$106,856",1963.0,"7,100","1,313",$37 - $170 K
11140,"$106,856",1963.0,"7,100","1,313",$37 - $170 K

Now we need to clean those features and change their type to the right one.

In [60]:
single_family_df['MedianApp'] = single_family_df['Median Appraised Value:'].str.replace('$','').str.replace(',','').str.strip()
single_family_df['MedianApp'] = pd.to_numeric(single_family_df['MedianApp'],errors='coerce')

In [61]:
single_family_df['MedianApp']

1        469147
2        469147
3        141314
4        141314
5        404408
          ...
11136     75165
11137    106856
11138    106856
11139    106856
11140    106856
Name: MedianApp, Length: 9395, dtype: int64

In [62]:
single_family_df['MedianYearBlt'] = pd.to_datetime(single_family_df['Median Year Built:'],format='%Y').dt.year

In [63]:
single_family_df['MedianYearBlt']

1        2014
2        2014
3        1938
4        1938
5        2016
         ...
11136    1950
11137    1963
11138    1963
11139    1963
11140    1963
Name: MedianYearBlt, Length: 9395, dtype: int64

In [64]:
single_family_df['MedianSqft'] = single_family_df['Median Lot Square Ft.:'].str.replace(',','').str.strip()
single_family_df['MedianSqft'] = pd.to_numeric(single_family_df['MedianSqft'],errors='coerce')

In [65]:
single_family_df['MedianSqft']

1        1450
2        1450
3        4700
4        4700
5        1586
         ...
11136    6325
11137    7100
11138    7100
11139    7100
11140    7100
Name: MedianSqft, Length: 9395, dtype: int64

In [66]:
single_family_df['NeighborValRangeMin'] = single_family_df['Neighborhood Value Range:'].apply(lambda x:x.split('-')[0].strip().replace('$',''))
single_family_df['NeighborValRangeMin'] = pd.to_numeric(single_family_df['NeighborValRangeMin'],errors='coerce')

In [67]:
single_family_df['NeighborValRangeMin']

1        441
2        441
3         90
4         90
5        329
        ...
11136     56
11137     37
11138     37
11139     37
11140     37
Name: NeighborValRangeMin, Length: 9395, dtype: int64

In [68]:
single_family_df['NeighborValRangeMax'] = single_family_df['Neighborhood Value Range:'].apply(lambda x:x.split('-')[1].replace('$','').replace('K','').strip())
single_family_df['NeighborValRangeMax'] = pd.to_numeric(single_family_df['NeighborValRangeMax'],errors='coerce')

In [69]:
single_family_df['NeighborValRangeMax']

1        476
2        476
3        213
4        213
5        443
        ...
11136    111
11137    170
11138    170
11139    170
11140    170
Name: NeighborValRangeMax, Length: 9395, dtype: int64

Instead of having 2 min and max columns for neighborhood value I think using average of this to range would be better.

In [70]:
single_family_df['AvgNeighborValRange'] = ((single_family_df.NeighborValRangeMax + single_family_df.NeighborValRangeMin)/2)*1000

In [71]:
single_family_df.drop(['Median Appraised Value:','NeighborValRangeMax', 'NeighborValRangeMin','Median Year Built:', 'Median Lot Square Ft.:', 'Median Square Ft.:', 'Neighborhood Value Range:'],
                      axis=1,inplace=True)

In [72]:
single_family_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9395 entries, 1 to 11140
Data columns (total 65 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   image_link                            9395 non-null   object
 1   Listing Price:                        9392 non-null   object
 2   Address:                              9395 non-null   object
 3   City:                                 9395 non-null   object
 4   Zip Code:                             9395 non-null   int64
 5   County:                               9395 non-null   object
 6   Legal Description:                    9339 non-null   object
 7   Bedrooms:                             9366 non-null   object
 8   Baths:                                9373 non-null   object
 9   Stories:                              9392 non-null   object
 10  Style:                                9395 non-null   object
 11  Year Built:                           9345 non-null   object
 12  Building Sqft.:                       9352 non-null   object
 13  Lot Size:                             8910 non-null   object
 14  Maintenance Fee:                      9367 non-null   object
 15  Primary Bedroom:                      8755 non-null   object
 16  Bedroom:                              9304 non-null   object
 17  Fireplace:                            6012 non-null   object
 18  Heating:                              9395 non-null   object
 19  Cooling:                              9395 non-null   object
 20  Ice Maker:                            9395 non-null   object
 21  Microwave:                            9395 non-null   object
 22  Compactor:                            9395 non-null   object
 23  Dishwasher:                           9395 non-null   object
 24  Disposal:                             9395 non-null   object
 25  Roof:                                 9395 non-null   object
 26  Foundation:                           9395 non-null   object
 27  Private Pool:                         9395 non-null   object
 28  Exterior Type:                        9395 non-null   object
 29  Lot Description:                      9395 non-null   object
 30  Controlled Access:                    9395 non-null   object
 31  Water Sewer:                          9395 non-null   object
 32  Unit Location:                        9395 non-null   object
 33  Area Pool:                            9395 non-null   object
 34  Dwelling Type:                        9395 non-null   object
 35  HOA Mandatory:                        9367 non-null   object
 36  List Type:                            9395 non-null   object
 37  Other Fees:                           9395 non-null   object
 38  Taxes w/o Exemp:                      7889 non-null   object
 39  Tax Rate:                             8532 non-null   float64
 40  Average Bedrooms:                     9362 non-null   float64
 41  Average Baths:                        9395 non-null   float64
 42  Median Price / Square ft.:            8471 non-null   object
 43  Home For Sales:                       0 non-null      object
 44  Average List Price:                   0 non-null      object
 45  Average Square Ft.:                   0 non-null      object
 46  Average Price/Square Ft.:             0 non-null      object
 47  Home For Lease:                       0 non-null      float64
 48  Average Lease:                        0 non-null      object
 49  Average Lease/Square Ft.:             0 non-null      object
 50  Carport Description:                  9395 non-null   object
 51  Median Appraised Value / Square ft.:  924 non-null    object
 52  UtilitySqft                           9395 non-null   float64
 53  StudySqft                             9395 non-null   float64
 54  GameSqft                              9395 non-null   float64
 55  BreakfastSqft                         9395 non-null   float64
 56  Garage                                9395 non-null   int32
 57  LivingSqft                            5350 non-null   float64
 58  DiningSqft                            6409 non-null   float64
 59  KitchenSqft                           6643 non-null   float64
 60  SubName                               9395 non-null   object
 61  MedianApp                             9395 non-null   int64
 62  MedianYearBlt                         9395 non-null   int64
 63  MedianSqft                            9395 non-null   int64
 64  AvgNeighborValRange                   9395 non-null   float64
dtypes: float64(12), int32(1), int64(4), object(48)
memory usage: 4.7+ MB

We have some features with 100% null values. lets drop them:

In [73]:
single_family_df.drop(['Home For Sales:', 'Average List Price:', 'Average Square Ft.:', 'Average Price/Square Ft.:',
                       'Home For Lease:','Average Lease:','Average Lease/Square Ft.:'],axis=1,inplace=True)

Now we are checking missing values again:

In [74]:
missing = missing_cal(single_family_df)
missing.loc[missing['%'] > 0].sort_values(by="%",ascending=False)

                                      count          %
Median Appraised Value / Square ft.:   8471  90.164981
LivingSqft                             4045  43.054816
Fireplace:                             3383  36.008515
DiningSqft                             2986  31.782863
KitchenSqft                            2752  29.292177
Taxes w/o Exemp:                       1506  16.029803
Median Price / Square ft.:              924   9.835019
Tax Rate:                               863   9.185737
Primary Bedroom:                        640   6.812134
Lot Size:                               485   5.162320
Bedroom:                                 91   0.968600
Legal Description:                       56   0.596062
Year Built:                              50   0.532198
Building Sqft.:                          43   0.457690
Average Bedrooms:                        33   0.351251
Bedrooms:                                29   0.308675
HOA Mandatory:                           28   0.298031
Maintenance Fee:                         28   0.298031
Baths:                                   22   0.234167
Stories:                                  3   0.031932
Listing Price:                            3   0.031932

In [75]:
single_family_df.groupby('SubName').count()['Taxes w/o Exemp:']

SubName
1829 Bering Drive      1
A L Coan               1
ADELAIDE               0
ALYS PARK              1
ARCADIA COURT          1
                      ..
Yorkdale Tr            0
Yorkshire              4
Young Mens             3
Young Samuel           1
Zan Wun Patio Homes    1
Name: Taxes w/o Exemp:, Length: 2111, dtype: int64

In [76]:
single_family_df[['Taxes w/o Exemp:','Listing Price:','Median Price / Square ft.:','Tax Rate:','SubName']]

,Taxes w/o Exemp:,Listing Price:,Median Price / Square ft.:,Tax Rate:,SubName
1,"$11, 138/2019","$ 465,000 ($221.85/sqft.) $Convert",NaN,2.4216,Modern Midtown
2,"$11, 292/2019","$ 450,000 ($223.33/sqft.) $Convert",NaN,2.4216,Modern Midtown
3,"$4, 480/2019","$ 259,000 ($203.30/sqft.) $Convert",$188.44,2.5716,Merkels
4,NaN,"$ 236,999 ($196.19/sqft.) $Convert \r\n\r\n\r...",$188.44,NaN,Merkels
5,"$9, 932/2019","$ 390,000 ($210.81/sqft.) $Convert",NaN,2.5716,East End On The Bayou
...,...,...,...,...,...
11136,"$2, 607/2019","$ 189,000 ($111.77/sqft.) $Convert",$118.87,2.8732,Merilyn Place
11137,"$2, 145/2019","$ 177,900 ($135.18/sqft.) $Convert",$92.11,2.8732,South Houston
11138,"$3, 108/2019","$ 169,500 ($146.12/sqft.) $Convert",$92.11,2.8732,South Houston
11139,NaN,"$ 165,000 ($145.37/sqft.) $Convert",$92.11,NaN,South Houston
11140,"$2, 735/2019","$ 155,000 ($184.74/sqft.) $Convert",$92.11,2.8732,South Houston

Tax rate and Median Price / Square ft. would be the same for all house in same subdivision and Taxes paid is different for each house based on tax rate, total house sqft and other factor. I think filling null value for tax paid with the average of taxes per subdivision would be appropriate but first we need to clean these two columns.

In [77]:
single_family_df['MedianPrice/Sqft'] = pd.to_numeric(single_family_df['Median Price / Square ft.:'].str
                                                     .replace('$','').str.strip(),errors='coerce')

single_family_df['PaidTax'] = pd.to_numeric(single_family_df['Taxes w/o Exemp:'].apply(lambda x:x.split('/')[0].replace(',','')
                                                                         .replace(' ','').strip().replace('$','') if 
                                                                         not pd.isna(x) else None),errors='coerce')
single_family_df['TaxRate'] = pd.to_numeric(single_family_df['Tax Rate:'],errors='coerce')

In [78]:
single_family_df['PaidTax'] = single_family_df.groupby('SubName')['PaidTax'].transform(lambda x: x.fillna(x.mean()))
single_family_df['TaxRate'] = single_family_df.groupby('SubName')['TaxRate'].transform(lambda x: x.fillna(x.mean()))
single_family_df['MedianPrice/Sqft'] = single_family_df.groupby('SubName')['MedianPrice/Sqft'].transform(lambda x: x.fillna(x.mean()))

In [79]:
single_family_df['MedianPrice/Sqft'].isna().sum()

924

We still have some null values and it seems there is no information for those subdivisions. lets drop them.

In [80]:
single_family_df=single_family_df[~single_family_df['MedianPrice/Sqft'].isnull()]

In [81]:
single_family_df['TaxRate'].isna().sum()

53

In [82]:
single_family_df=single_family_df[~single_family_df['TaxRate'].isnull()]

In [83]:
single_family_df['PaidTax'].isna().sum()

68

In [84]:
single_family_df=single_family_df[~single_family_df['PaidTax'].isnull()]

In [85]:
single_family_df.drop(['Taxes w/o Exemp:','Tax Rate:','Median Price / Square ft.:'],axis=1,inplace=True)

In [87]:
single_family_df[single_family_df.TaxRate>10]

,image_link,Listing Price:,Address:,City:,Zip Code:,County:,Legal Description:,Bedrooms:,Baths:,Stories:,...,DiningSqft,KitchenSqft,SubName,MedianApp,MedianYearBlt,MedianSqft,AvgNeighborValRange,MedianPrice/Sqft,PaidTax,TaxRate
2159,['https://photos.harstatic.com/185623019/hr/im...,"$ 1,795,000 ($341.84/sqft.) $Convert",4034 Falkirk Lane,Houston,77025,Harris County,LT 16 BLK 26 AYRSHIRE SEC 13,4 - 5 Bedroom(s),4 Full & 1 Half Bath(s),2,...,266.000,315.0000,Ayrshire,650000,1970,9003,887500.0,262.37,17299.062500,4559.886541
2191,['https://photos.harstatic.com/178346102/hr/im...,"$ 1,349,500 ($283.75/sqft.) $Convert \r\n\r\n...",3543 Blue Bonnet Boulevard,Houston,77025,Harris County,LT 2 BLK 3 BRAES OAKS SEC 1,5 Bedroom(s),5 Full & 1 Half Bath(s),2,...,308.000,308.0000,Braes Oaks,880463,2001,7647,857000.0,273.61,13550.000000,77479.000000
2242,['https://photos.harstatic.com/181685006/hr/im...,"$ 1,575,000 ($298.01/sqft.) $Convert",4010 Grennoch Lane,Houston,77025,Harris County,LT 31 BLK 20 AYRSHIRE SEC 9,5 - 6 Bedroom(s),5 Full & 1 Half Bath(s),2,...,180.000,220.0000,Ayrshire,650000,1970,9003,887500.0,262.37,17299.062500,77479.000000
4531,['https://photos.harstatic.com/187964297/hr/im...,"$ 479,900 ($113.32/sqft.) $Convert \r\n\r\n\r...",11818 Key Biscayne Court,Houston,77065,Harris County,LT 29 BLK 2 WINDERMERE LAKES SEC 4,4 Bedroom(s),3 Full & 1 Half Bath(s),2,...,145.805,225.5025,Windermere Lakes,312891,2000,7800,319500.0,105.67,8073.333333,23243.000000

In [88]:
single_family_df.SubName[single_family_df.TaxRate>10]

2159            Ayrshire
2191          Braes Oaks
2242            Ayrshire
4531    Windermere Lakes
Name: SubName, dtype: object

In [89]:
single_family_df.TaxRate[single_family_df.SubName=='Windermere Lakes']

4530        2.3243
4531    23243.0000
4534        2.3243
4536        2.3243
Name: TaxRate, dtype: float64

In [90]:
single_family_df.loc[4531,'TaxRate'] = 2.3243
single_family_df = single_family_df[single_family_df.TaxRate < 10]

These 4 houses have tax rate which is out of range, after checking those house on HAR.com I realized that first 3 are new houses and last one seems to be typo mistake and I will replace it with the correct tax rate for its subdivision(Windermere Lakes)

In [91]:
single_family_df.PaidTax.describe()

count      8347.000000
mean       9871.722404
std       13557.448522
min          53.000000
25%        4682.076923
50%        7056.000000
75%       11184.255814
max      771540.000000
Name: PaidTax, dtype: float64

Lets take a look at maximum tax paid to see why it is too high.

In [95]:
single_family_df[single_family_df.PaidTax > 100000]

,image_link,Listing Price:,Address:,City:,Zip Code:,County:,Legal Description:,Bedrooms:,Baths:,Stories:,...,DiningSqft,KitchenSqft,SubName,MedianApp,MedianYearBlt,MedianSqft,AvgNeighborValRange,MedianPrice/Sqft,PaidTax,TaxRate
1597,['https://photos.harstatic.com/177970173/hr/im...,"$ 7,200,000 ($1,401.60/sqft.) $Convert",3702 Knollwood Street,Houston,77019,Harris County,LT 13 BLK 94 RIVER OAKS SEC 10,5 Bedroom(s),4 Full & 1 Half Bath(s),2,...,256.500000,378.0,River Oaks,2268725,1948,11420,2879000.0,512.55,160789.000000,2.530400
1599,['https://photos.harstatic.com/190563301/hr/im...,"$ 6,995,000 ($976.00/sqft.) $Convert",3723 Knollwood Street,Houston,77019,Harris County,TRS 2A & 3 BLK 95 RIVER OAKS SEC 10,5 Bedroom(s),4 Full & 3 Half Bath(s),2,...,192.000000,418.0,River Oaks,2268725,1948,11420,2879000.0,512.55,116968.000000,2.421600
1600,['https://photos.harstatic.com/187472036/hr/im...,"$ 6,900,000 ($972.10/sqft.) $Convert \r\n\r\n...",3229 Groveland Lane,Houston,77019,Harris County,TRS 4A & 5 BLK 12 RIVER OAKS COUNTRY CLUB ESTATE,4 Bedroom(s),5 Full & 2 Half Bath(s),2,...,304.000000,240.0,River Oaks Country Club Estate,4435519,1948,23490,5558000.0,606.88,183920.000000,2.421600
1601,['https://photos.harstatic.com/190203098/hr/im...,"$ 6,795,000 ($720.88/sqft.) $Convert",3257 Inwood,Houston,77019,Harris County,LT 2 & TR 1A BLK 3 RIVER OAKS COUNTRY CLUB ESTATE,5 Bedroom(s),6 Full & 2 Half Bath(s),2,...,280.000000,375.0,River Oaks Country Club Estate,4435519,1948,23490,5558000.0,606.88,116099.750000,2.421595
1604,['https://photos.harstatic.com/186756176/hr/im...,"$ 4,899,000 ($678.25/sqft.) $Convert \r\n\r\n...",3315 Del Monte Drive,Houston,77019,Harris County,LT 9 BLK 8 RIVER OAKS COUNTRY CLUB ESTATE,5 Bedroom(s),7 Full & 2 Half Bath(s),3,...,345.000000,270.0,River Oaks Country Club Estate,4435519,1948,23490,5558000.0,606.88,101271.000000,2.421580
1605,['https://photos.harstatic.com/189953272/hr/im...,"$ 4,650,000 ($628.80/sqft.) $Convert",1923 Olympia Drive,Houston,77019,Harris County,TR 4 BLK 74 RIVER OAKS SEC 9,5 - 6 Bedroom(s),6 Full & 2 Half Bath(s),2,...,266.000000,336.0,River Oaks,2268725,1948,11420,2879000.0,512.55,102094.000000,2.421600
1647,['https://photos.harstatic.com/188466658/hr/im...,"$ 6,149,000 ($734.56/sqft.) $Convert \r\n\r\n...",3257 Huntingdon Place,Houston,77019,Harris County,LT 3 BLK 17 RIVER OAKS COUNTRY CLUB ESTATE,5 Bedroom(s),7 Full & 2 Half Bath(s),2,...,255.000000,496.0,River Oaks Country Club Estate,4435519,1948,23490,5558000.0,606.88,116099.750000,2.421595
1648,['https://photos.harstatic.com/185262421/hr/im...,"$ 5,999,000 ($869.42/sqft.) $Convert \r\n\r\n...",3627 Inwood Drive,Houston,77019,Harris County,LT 7 BLK 77 RIVER OAKS SEC 9,5 Bedroom(s),6 Full & 2 Half Bath(s),2,...,279.000000,425.0,River Oaks,2268725,1948,11420,2879000.0,512.55,101039.000000,2.421600
1652,['https://photos.harstatic.com/190462692/hr/im...,"$ 5,495,000 ($542.93/sqft.) $Convert",3330 Chevy Chase Drive,Houston,77019,Harris County,LT 14 BLK 8 RIVER OAKS COUNTRY CLUB ESTATE,6 - 7 Bedroom(s),9 Full & 2 Half Bath(s),2,...,272.000000,352.0,River Oaks Country Club Estate,4435519,1948,23490,5558000.0,606.88,132395.000000,2.421600
1653,['https://photos.harstatic.com/186493518/hr/im...,"$ 5,495,000 ($592.77/sqft.) $Convert",3640 Inwood Drive,Houston,77019,Harris County,TR 8 BLK 78 RIVER OAKS SEC 9,6 - 7 Bedroom(s),7 Full & 1 Half Bath(s),2,...,266.000000,264.0,River Oaks,2268725,1948,11420,2879000.0,512.55,127860.000000,2.421600
3126,['https://photos.harstatic.com/153897541/hr/im...,"$ 14,500,000 ($689.43/sqft.) $Convert \r\n\r\...",6 W Rivercrest Drive,Houston,77042,Harris County,LT 2A BLK 2 RIVERCREST R/P,7 - 8 Bedroom(s),9 Full & 5 Half Bath(s),2,...,456.000000,600.0,Rivercrest,2620353,1996,160736,2883500.0,315.47,139071.000000,2.528560
3127,['https://photos.harstatic.com/190026928/hr/im...,"$ 7,950,000 ($608.92/sqft.) $Convert",39 W Rivercrest Drive,Houston,77042,Harris County,LT 18 BLK 3 RIVERCREST,5 - 7 Bedroom(s),7 Full & 1 Half Bath(s),2,...,195.000000,500.0,Rivercrest,2620353,1996,160736,2883500.0,315.47,101522.000000,2.421600
3839,['https://photos.harstatic.com/182098982/hr/im...,"$ 7,995,000 ($1,464.82/sqft.) $Convert",5345 Spring Park Street,Houston,77056,Harris County,LT 8 & TR 5 BLK 14 TANGLEWOOD SEC 4A,4 Bedroom(s),3 Full & 2 Half Bath(s),2,...,299.763889,378.0,Tanglewood,1730000,1982,16500,2156000.0,392.39,123791.000000,2.526400
3842,['https://photos.harstatic.com/186554227/hr/im...,"$ 5,500,000 ($539.06/sqft.) $Convert",5609 Lynbrook Drive,Houston,77056,Harris County,LT 15 BLK 37 TANGLEWOOD SEC 8,5 Bedroom(s),5 Full & 3 Half Bath(s),3,...,NaN,NaN,Tanglewood,1730000,1982,16500,2156000.0,392.39,115506.000000,2.421600
3846,['https://photos.harstatic.com/149186385/hr/im...,"$ 4,245,000 ($341.62/sqft.) $Convert \r\n\r\n...",5496 Holly Springs,Houston,77056,Harris County,LT 10 BLK 18 TANGLEWOOD SEC 9,5 - 7 Bedroom(s),7 Full & 3 Half Bath(s),3,...,352.000000,495.0,Tanglewood,1730000,1982,16500,2156000.0,392.39,118931.000000,2.530400
3848,['https://photos.harstatic.com/190261921/hr/im...,"$ 3,799,999 $Convert",674 Shady Hollow Street,Houston,77056,Harris County,LTS 6 & 7 BLK 14 TANGLEWOOD SEC 4A,5 Bedroom(s),4 Full & 2 Half Bath(s),1,...,0.000000,0.0,Tanglewood,1730000,1982,16500,2156000.0,392.39,153105.000000,2.530400
4313,['https://photos.harstatic.com/190350738/hr/im...,"$ 3,999,000 ($324.83/sqft.) $Convert",2210 S Piney Point Road,Houston,77063,Harris County,LT 10 PINEY POINT WOODS,3 - 6 Bedroom(s),7 Full & 3 Half Bath(s),1,...,NaN,228.0,Piney Point Village,5195501,1976,190438,5195500.0,347.95,122194.000000,2.136300
5663,['https://photos.harstatic.com/186945743/hr/im...,"$ 739,000 ($217.61/sqft.) $Convert \r\n\r\n\r...",12911 Taylorcrest Road,Houston,77079,Harris County,LT 16 BLK 6 MEMORIAL PLAZA SEC 1,5 Bedroom(s),4 Full Bath(s),1,...,110.000000,360.0,Memorial Plaza (Harris),690000,1960,10400,848500.0,271.35,771540.000000,2.505600
5685,['https://photos.harstatic.com/188477337/hr/im...,"$ 1,425,000 ($308.84/sqft.) $Convert",12922 Kimberley Lane,Houston,77079,Harris County,LT 6 BLK 3 MEMORIAL PLAZA SEC 1,5 Bedroom(s),5 Full & 1 Half Bath(s),2,...,187.000000,NaN,Memorial Plaza (Harris),690000,1960,10400,848500.0,271.35,123640.142857,2.505600

19 houses paid more than \\$100,000 for tax and most of them are in `River Oaks` area which is one of the most expensive area in Houston. but there is on house in `Memorial Plaza` subdivision which paid more than \\$770,000 for tax which should not be right. The house price is \\$739,000 and tax rate for that area is 2.5 so the tax should not be that high.

In [96]:
single_family_df = single_family_df[single_family_df.PaidTax < 200000]

## 1.8 Fill Null Kitchen, Dining and Living <a id='1.8_Fill_Null_For_Kitchen_Dining_Living'></a>

I think we can fill null values for living, dining and kitchen area with them mean sqft for each subdivision since most of the house in one subdivision are almost the same.

In [97]:
single_family_df['LivingSqft'] = single_family_df.groupby('SubName')['LivingSqft'].apply(lambda x: x.fillna(x.mean()))
single_family_df['DiningSqft'] = single_family_df.groupby('SubName')['DiningSqft'].apply(lambda x: x.fillna(x.mean()))
single_family_df['KitchenSqft'] = single_family_df.groupby('SubName')['KitchenSqft'].apply(lambda x: x.fillna(x.mean()))

In [98]:
single_family_df['LivingSqft'].isna().sum()

367

In [99]:
single_family_df['DiningSqft'].isna().sum()

445

In [100]:
single_family_df['KitchenSqft'].isna().sum()

234

We still have some null values and it seems there is no information for those subdivisions. lets drop them.

In [101]:
single_family_df=single_family_df[~single_family_df['DiningSqft'].isnull()]

In [102]:
single_family_df['LivingSqft'].isna().sum()

197

In [103]:
single_family_df['KitchenSqft'].isna().sum()

75

In [104]:
single_family_df=single_family_df[~single_family_df['LivingSqft'].isnull()]

In [105]:
single_family_df['KitchenSqft'].isna().sum()

51

In [106]:
single_family_df=single_family_df[~single_family_df['KitchenSqft'].isnull()]

## 1.9 Listing Price<a id='1.9_Listing_Price'></a>

In [107]:
single_family_df['Listing Price:'].isna().sum()

2

In [108]:
single_family_df=single_family_df[~single_family_df['Listing Price:'].isnull()]

In [109]:
single_family_df['Listing Price:']=single_family_df['Listing Price:'].str.split(' ').str[1]
single_family_df['Listing Price:']=single_family_df['Listing Price:'].str.replace(',','')
single_family_df['Listing Price:']=pd.to_numeric(single_family_df['Listing Price:'])
single_family_df.rename(columns = {'Listing Price:':'ListingPrice','Address:':'Address', 'Zip Code:':'ZipCode', 'County:':'County',
                                 'Subdivision:':'sub', 'Legal Description:':'Legal'},inplace=True)

In [110]:
single_family_df['ListingPrice'].describe()

count    7.651000e+03
mean     5.314244e+05
std      6.398276e+05
min      1.000000e+00
25%      2.400000e+05
50%      3.449990e+05
75%      5.590000e+05
max      1.450000e+07
Name: ListingPrice, dtype: float64

it seems minimum listing price is $1 which needs to be investigated.

In [111]:
single_family_df.loc[single_family_df.ListingPrice <10000]

,image_link,ListingPrice,Address,City:,ZipCode,County,Legal,Bedrooms:,Baths:,Stories:,...,DiningSqft,KitchenSqft,SubName,MedianApp,MedianYearBlt,MedianSqft,AvgNeighborValRange,MedianPrice/Sqft,PaidTax,TaxRate
4981,['https://photos.harstatic.com/189947720/hr/im...,1,7626 Candlegreen Lane,Houston,77071,Harris County,W 60 FT OF LT 23 BLK 4 FONDREN SW SOUTHMEADOW ...,3 Bedroom(s),2 Full Bath(s),1,...,144.0,201.285714,Fondren Sw Southmeadow,143407,1977,6900,147500.0,80.02,3566.0,2.5216

There is one house with the price less than $10000.

In [113]:
#removing the row with the price less than $10000
single_family_df = single_family_df[single_family_df.ListingPrice >= 10000]
single_family_df.ListingPrice.describe()

count    7.650000e+03
mean     5.314939e+05
std      6.398405e+05
min      2.390000e+04
25%      2.401225e+05
50%      3.449995e+05
75%      5.590000e+05
max      1.450000e+07
Name: ListingPrice, dtype: float64

## 1.10 Bedrooms<a id='1.10_Bedrooms'></a>

In [115]:
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:']]

,Bedrooms:,Bedroom:,Primary Bedroom:
10,3 Bedroom(s),"[""12' X 10', 3rd"", '12\'10\' X 11\'4"", 1st', ""...","['16\'4"" X 12\'8"", 3rd', '16\'4"" , 12\'8"", 3rd']"
22,3 Bedroom(s),"['12X11, 3rd', '12X11, 1st', '3.66 x 3.35(m)',...","['15X14, 3rd', '4.57 x 4.27(m)']"
23,3 Bedroom(s),"['12X11, 1st', '12X11, 3rd', '3.66 x 3.35(m)',...","['15X14, 3rd', '4.57 x 4.27(m)']"
29,3 Bedroom(s),"['13 x 11, 1st', '11 x 10, 3rd', '13 , 11, 1st...","['17 x 13, 3rd', '17 , 13, 3rd']"
30,3 Bedroom(s),"['11x10, 3rd', '15x11, 1st', '3.35 x 3.05(m)',...","['19X13, 3rd', '5.79 x 3.96(m)']"
...,...,...,...
11135,3 Bedroom(s),"['10x11, 1st', '10x11, 1st', '10x11, 1st', '3....",NaN
11137,3 Bedroom(s),"['10x8, 1st', '10x8, 1st', '3.05 x 2.44(m)', '...","['12x14, 1st', '3.66 x 4.27(m)']"
11138,3 Bedroom(s),"['12x11, 1st', '12x11, 1st', '3.66 x 3.35(m)',...","['13x15, 1st', '3.96 x 4.57(m)']"
11139,3 Bedroom(s),"['12x12, 1st', '12x12, 1st', '3.66 x 3.66(m)',...","['13x15, 1st', '3.96 x 4.57(m)']"
11140,2 Bedroom(s),"['11 x 11.5, 1st', '11 x 11.5, 1st', '11 , 11....",NaN

In [116]:
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:','Average Bedrooms:']].isna().sum()

Bedrooms:             15
Bedroom:              57
Primary Bedroom:     447
Average Bedrooms:     27
dtype: int64

First I calculate area for Bedroom and Primary Bedroom separately then fill null values with the average of area per subdivision and then add them as total bedrooms in Sqft.

In [117]:
single_family_df['Primary_Bedroom_clean'] = single_family_df['Primary Bedroom:'].str.split(',')
single_family_df['Primary_Bedroom_clean'] = single_family_df['Primary_Bedroom_clean'].apply(area_calc)
single_family_df.update(single_family_df[['Primary_Bedroom_clean']].fillna(0))

single_family_df['Bedroom_clean'] = single_family_df['Bedroom:'].str.split(',')
single_family_df['Bedroom_clean'] = single_family_df['Bedroom_clean'].apply(area_calc)
single_family_df['Bedroom_clean'] = single_family_df.groupby('SubName')['Bedroom_clean'].transform(lambda x: x.fillna(x.mean()))

In [118]:
single_family_df['TotalBedSqft'] = single_family_df['Bedroom_clean'] + single_family_df['Primary_Bedroom_clean']

In [119]:
pd.options.display.max_colwidth = 100
single_family_df[['Bedrooms:','Bedroom:','Primary Bedroom:','Primary_Bedroom_clean','Bedroom_clean','TotalBedSqft']].sample(20,random_state=100)

,Bedrooms:,Bedroom:,Primary Bedroom:,Primary_Bedroom_clean,Bedroom_clean,TotalBedSqft
993,2 Bedroom(s),"['unknown, 1st', 'unknown, 1st']","['unknown, 1st', 'unknown, 1st']",0.0,0.000000,0.000000
1171,4 Bedroom(s),"['12x11, 2nd', '12x11, 2nd', '10 x 10, 1st', '3.66 x 3.35(m)', '3.66 x 3.35(m)', '10 , 10, 1st']","['12X11, 1st', '3.66 x 3.35(m)']",132.0,364.000000,496.000000
1483,5 Bedroom(s),"['13x10, 2nd', '13x13, 2nd', '19x12, 2nd', '3.96 x 3.05(m)', '3.96 x 3.96(m)', '5.79 x 3.66(m)']","['16x13, 2nd', '19x17, 1st', '4.88 x 3.96(m)', '5.79 x 5.18(m)']",531.0,527.000000,1058.000000
5949,4 Bedroom(s),"['13x11, 2nd', '12x11, 2nd', '13x11, 2nd', '3.96 x 3.35(m)', '3.66 x 3.35(m)', '3.96 x 3.35(m)']","['17x13, 1st', '5.18 x 3.96(m)']",221.0,418.000000,639.000000
3813,5 Bedroom(s),"['13x13, 1st', '20x13, 1st', '12x12, 1st', '15x13, 1st', '3.96 x 3.96(m)', '6.10 x 3.96(m)', '3....","['19x15, 1st', '5.79 x 4.57(m)']",285.0,768.000000,1053.000000
1035,3 Bedroom(s),"['16 x 12, 1st', '14 x 13, 1st', '13 x 13, 1st', '16 , 12, 1st', '14 , 13, 1st', '13 , 13, 1st']",NaN,0.0,543.000000,543.000000
5896,3 Bedroom(s),"['10x9, 2nd', '10x9, 2nd', '3.05 x 2.74(m)', '3.05 x 2.74(m)']","['13x12, 2nd', '3.96 x 3.66(m)']",156.0,180.000000,336.000000
10087,4 Bedroom(s),"['12x11, 1st', '13x11, 1st', '13x11, 1st', '3.66 x 3.35(m)', '3.96 x 3.35(m)', '3.96 x 3.35(m)']","['17x14, 1st', '5.18 x 4.27(m)']",238.0,418.000000,656.000000
6545,6 Bedroom(s),"['14x11, 2nd', '10x11, 2nd', '11x11, 2nd', '15x11, 2nd', '12x11, 2nd', '4.27 x 3.35(m)', '3.05 x...","['17x15, 1st', '5.18 x 4.57(m)']",255.0,682.000000,937.000000
10506,3 Bedroom(s),"['12 X 10, 1st', '12 X 10, 1st', '12 , 10, 1st', '12 , 10, 1st']","['17 X 12, 1st', '17 , 12, 1st']",204.0,240.000000,444.000000
3897,4 Bedroom(s),NaN,"['22 x 18, 1st', '22 , 18, 1st']",396.0,721.081344,1117.081344
4711,3 Bedroom(s),"['17 X 12, 1st', '12 X 11, 1st', '17 , 12, 1st', '12 , 11, 1st']","['20 X 15, 1st', '20 , 15, 1st']",300.0,336.000000,636.000000
9388,4 Bedroom(s),"['14 x 13, 2nd', '20 X13, 2nd', '11x13, 2nd', '14 , 13, 2nd', '20 ,13, 2nd', '3.35 x 3.96(m)']","['17 x 14, 1st', '17 , 14, 1st']",238.0,585.000000,823.000000
8106,4 Bedroom(s),"['15x13, 1st', '13x13, 1st', '16x13, 1st', '4.57 x 3.96(m)', '3.96 x 3.96(m)', '4.88 x 3.96(m)']","['20x16, 1st', '6.10 x 4.88(m)']",320.0,572.000000,892.000000
5131,3 Bedroom(s),"['10x11, 1st', '12x10, 1st', '3.05 x 3.35(m)', '3.66 x 3.05(m)']","['14x14, 1st', '4.27 x 4.27(m)']",196.0,230.000000,426.000000
2892,3 Bedroom(s),"['12X13, 1st', '16X20, 1st', '3.66 x 3.96(m)', '4.88 x 6.10(m)']","['19X20, 1st', '5.79 x 6.10(m)']",380.0,476.000000,856.000000
8144,4 Bedroom(s),"['13.6x12, 1st', '12x12, 1st', '12x13, 1st', '4.15 x 3.66(m)', '3.66 x 3.66(m)', '3.66 x 3.96(m)']","['16x18.6, 1st', '4.88 x 5.67(m)']",297.6,463.200000,760.800000
6593,3 Bedroom(s),"['14x11, 2nd', '14x10, 2nd', '4.27 x 3.35(m)', '4.27 x 3.05(m)']","['14x14, 2nd', '4.27 x 4.27(m)']",196.0,294.000000,490.000000
4151,5 Bedroom(s),"['18x13, 2nd', '16x12, 2nd', '15x14, 2nd', '14x13, 2nd', '5.49 x 3.96(m)', '4.88 x 3.66(m)', '4....","['20x15, 1st', '6.10 x 4.57(m)']",300.0,818.000000,1118.000000
2950,4 Bedroom(s),"['14x10, 2nd', '11x11, 1st', '13x10, 2nd', '4.27 x 3.05(m)', '3.35 x 3.35(m)', '3.96 x 3.05(m)']","['14x13, 2nd', '4.27 x 3.96(m)']",182.0,391.000000,573.000000

In [120]:
single_family_df['Bedrooms:'].isnull().sum()

15

There is 15 houses with no information about bedrooms and I will drop those rows.

In [121]:
single_family_df=single_family_df[~single_family_df['Bedrooms:'].isnull()]

In [122]:
single_family_df['Bedrooms:']=single_family_df['Bedrooms:'].str.split(' ').str[0]
single_family_df['Bedrooms:']=single_family_df['Bedrooms:'].astype(int)
single_family_df.rename(columns = {'Bedrooms:':'NoBed'},inplace=True)
single_family_df['NoBed'].describe()

count    7635.000000
mean        3.727963
std         0.790464
min         1.000000
25%         3.000000
50%         4.000000
75%         4.000000
max        10.000000
Name: NoBed, dtype: float64

In [123]:
single_family_df['Average Bedrooms:'].isna().sum()

27

In [124]:
single_family_df.groupby('SubName')['Average Bedrooms:'].value_counts()

SubName                           Average Bedrooms:
ASHFORD MANOR                     3.52                  5
Aberdeen Green                    3.46                  7
Aberdeen Trails                   3.84                  4
Afton Oaks                        3.56                 24
Airport Blvd Estates              3.47                  1
                                                       ..
Wrights Landing At Legends Trace  3.64                  5
Wyndham Village                   4.16                  3
YAUPON TRLS                       3.67                  1
Yorkshire                         4.59                  4
Young Mens                        2.85                  4
Name: Average Bedrooms:, Length: 1054, dtype: int64

In [125]:
single_family_df['Average Bedrooms:'].loc[single_family_df.SubName=='Afton Oaks']

2338    3.56
2339    3.56
2345    3.56
2351    3.56
2352    3.56
2353    3.56
2354    3.56
2355    3.56
2356    3.56
2359    3.56
2363    3.56
2376    3.56
2378    3.56
2383    3.56
2384    3.56
2391    3.56
2394    3.56
2403    3.56
2408    3.56
2412    3.56
2417    3.56
2418    3.56
2421    3.56
2426    3.56
Name: Average Bedrooms:, dtype: float64

It seems average bedroom is same for each subdivision. We can fill null values with the mean.

In [126]:
single_family_df['Average Bedrooms:'] = single_family_df.groupby('SubName')['Average Bedrooms:'].transform(lambda x: x.fillna(x.mean()))

In [127]:
single_family_df['Average Bedrooms:'].isna().sum()

27

So there is no information for those subdivisions. lets drop these rows

In [128]:
single_family_df=single_family_df[~single_family_df['Average Bedrooms:'].isnull()]
single_family_df.rename(columns ={'Average Bedrooms:':'AvgBed'},inplace=True)

In [129]:
single_family_df.drop(['Bedroom:','Primary Bedroom:','Primary_Bedroom_clean','Bedroom_clean'],axis=1,inplace=True)

## 1.11 Bathrooms<a id='1.11_Bathrooms'></a>

In [130]:
single_family_df['Baths:'].isnull().sum()

3

In [131]:
single_family_df=single_family_df[~single_family_df['Baths:'].isnull()]

In [132]:
single_family_df[['Baths:']]

                         Baths:
10     3 Full  & 1 Half Bath(s)
22     3 Full  & 1 Half Bath(s)
23     3 Full  & 1 Half Bath(s)
29     3 Full  & 1 Half Bath(s)
30     3 Full  & 1 Half Bath(s)
...                         ...
11135           1 Full  Bath(s)
11137  1 Full  & 1 Half Bath(s)
11138  1 Full  & 1 Half Bath(s)
11139           2 Full  Bath(s)
11140           1 Full  Bath(s)

[7605 rows x 1 columns]

In [133]:
single_family_df['FullBath']=single_family_df['Baths:'].str.split(' ').str[0].astype(int)

In [134]:
single_family_df['FullBath']

10       3
22       3
23       3
29       3
30       3
        ..
11135    1
11137    1
11138    1
11139    2
11140    1
Name: FullBath, Length: 7605, dtype: int32

In [135]:
No_Bath = single_family_df['Baths:'].str.split('&').str[1].str.strip()
No_Bath.fillna('0',inplace=True) 
single_family_df['HalfBath']=[int(item[0]) for item in No_Bath.str.split(' ')]
single_family_df['HalfBath'].replace(',','',inplace=True)
single_family_df[['FullBath','HalfBath']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7605 entries, 10 to 11140
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   FullBath  7605 non-null   int32
 1   HalfBath  7605 non-null   int64
dtypes: int32(1), int64(1)
memory usage: 148.5 KB

In [136]:
single_family_df.drop('Baths:',axis=1,inplace=True)

## 1.12 Stories<a id='1.12_Stories'></a>

In [137]:
single_family_df['Stories:'].value_counts()

2       3809
1       3191
3        371
1.5      167
4         52
2.5       12
2576       1
5          1
Name: Stories:, dtype: int64

There is one house with 2576 stories which I believe it is a typo. Lets take look at this home.

In [138]:
single_family_df['Stories:'].isnull().sum()

1

In [139]:
single_family_df=single_family_df[~single_family_df['Stories:'].isnull()]

In [140]:
single_family_df.rename(columns ={'Stories:':'Stories'},inplace=True)
single_family_df['Stories']=pd.to_numeric(single_family_df['Stories'])

In [141]:
single_family_df['Address'].loc[single_family_df['Stories']>4]

535        5334 Calle Cadiz Place
10448    22614 Auburn Valley Lane
Name: Address, dtype: object

The first one is an apartment and second one is 2 stories house. know we replace 2576 with 2.

In [142]:
single_family_df['Stories'].loc[single_family_df['Stories']==2576]=2

In [143]:
single_family_df['Stories'].value_counts()

2.0    3810
1.0    3191
3.0     371
1.5     167
4.0      52
2.5      12
5.0       1
Name: Stories, dtype: int64

Since we are looking for single family homes, those apartment are different from what we are looking for. so, images for those houses would be different. I will keep the houses with have equal or less than 3 stories.

In [144]:
single_family_df = single_family_df[single_family_df.Stories < 4]
single_family_df['Stories'].value_counts()

2.0    3810
1.0    3191
3.0     371
1.5     167
2.5      12
Name: Stories, dtype: int64

## 1.13 Style<a id='1.13_Style'></a>

In [145]:
single_family_df['Style:'].value_counts()

Traditional                                           5359
Contemporary/Modern                                    649
Ranch                                                  331
Contemporary/Modern,Traditional                        184
Other Style                                            162
                                                      ...
English,French                                           1
Contemporary/Modern,Traditional,Victorian                1
Georgian,Victorian                                       1
Contemporary/Modern,French,Mediterranean,Tradition       1
Colonial,Contemporary/Modern,Georgian                    1
Name: Style:, Length: 80, dtype: int64

In [146]:
single_family_df['Style:'].isnull().sum()

0

In [147]:
single_family_df.rename(columns ={'Style:':'Style'},inplace=True)

In [148]:
single_family_df['Style'].unique()

array(['Contemporary/Modern', 'Contemporary/Modern,Traditional',
       'Traditional', 'Split Level', 'Other Style', 'Ranch',
       'Mediterranean,Traditional', 'Colonial', 'French',
       'Contemporary/Modern,Ranch,Traditional', 'Georgian,Traditional',
       'Colonial,Traditional', 'Mediterranean',
       'Colonial,Georgian,Traditional', 'Other Style,Traditional',
       'Contemporary/Modern,French', 'Contemporary/Modern,English,French',
       'French,Traditional', 'Spanish,Traditional', 'Georgian',
       'Colonial,Georgian', 'English,French,Traditional', 'Spanish',
       'Victorian', 'Traditional,Victorian',
       'Contemporary/Modern,English,French,Traditional',
       'Contemporary/Modern,French,Traditional', 'Other Style,Ranch',
       'Colonial,Contemporary/Modern',
       'Contemporary/Modern,Split Level,Traditional',
       'Contemporary/Modern,Mediterranean', 'Georgian,Victorian',
       'Colonial,French', 'Contemporary/Modern,Victorian',
       'Contemporary/Modern,Mediterranean,Traditional',
       'Ranch,Traditional', 'Other Style,Traditional,Victorian',
       'Colonial,French,Traditional', 'Contemporary/Modern,Ranch,Spanish',
       'Other Style,Spanish', 'Contemporary/Modern,Traditional,Victorian',
       'Other Style,Victorian', 'Other Style,Ranch,Traditional',
       'Mediterranean,Ranch,Spanish,Traditional',
       'Ranch,Split Level,Traditional', 'Contemporary/Modern,Split Level',
       'Mediterranean,Spanish', 'Colonial,Contemporary/Modern,Georgian',
       'English,Traditional', 'Colonial,English,Traditional', 'English',
       'Contemporary/Modern,Georgian,Traditional',
       'Contemporary/Modern,English,Traditional',
       'Contemporary/Modern,Spanish', 'Mediterranean,Spanish,Traditional',
       'French,Mediterranean', 'Contemporary/Modern,Ranch',
       'Split Level,Traditional', 'Spanish,Split Level', 'Colonial,Ranch',
       'Mediterranean,Ranch', 'English,French', 'Ranch,Spanish',
       'Contemporary/Modern,English', 'Colonial,Ranch,Traditional',
       'Colonial,Contemporary/Modern,English,French',
       'Colonial,Split Level',
       'Contemporary/Modern,Ranch,Traditional,Victorian',
       'Contemporary/Modern,Mediterranean,Spanish', 'Colonial,English',
       'French,Mediterranean,Traditional', 'English,Georgian',
       'French,Spanish', 'Other Style,Split Level',
       'Split Level,Victorian',
       'French,Mediterranean,Spanish,Traditional',
       'Contemporary/Modern,Georgian',
       'Colonial,Contemporary/Modern,English,French,Ranch',
       'Mediterranean,Split Level',
       'Contemporary/Modern,French,Mediterranean,Tradition'], dtype=object)

## 1.14 Year Built<a id='1.14_Year_Built'></a>

In [149]:
single_family_df['Year Built:'].isnull().sum()

27

In [150]:
single_family_df['Year Built:'].value_counts()

2020   / Builder               962
2005   / Appraisal District    154
2006   / Appraisal District    149
2015   / Appraisal District    144
1955   / Appraisal District    140
                              ...
1930   / Seller                  1
1982   / Seller                  1
1929   / Appraisal               1
1935   / Appraisal               1
1900   / Appraisal District      1
Name: Year Built:, Length: 281, dtype: int64

In [151]:
single_family_df=single_family_df[~single_family_df['Year Built:'].isnull()]
single_family_df['Year Built:']=single_family_df['Year Built:'].apply(lambda x:str(x).split(' ')[0])
single_family_df['Year Built:']=pd.to_datetime(single_family_df['Year Built:'],format='%Y').dt.year
single_family_df['Year Built:'].value_counts()

2020    1007
2015     184
2006     172
2005     170
2014     166
        ...
1907       1
1934       1
1918       1
1905       1
1896       1
Name: Year Built:, Length: 112, dtype: int64

Those houses with year build of 2020 mostly under construction and there is no images from inside or even outside. I will drop those houses too.

In [152]:
single_family_df.rename(columns ={'Year Built:':'YearBuilt'},inplace=True)

In [155]:
single_family_df = single_family_df[single_family_df.YearBuilt < 2020]
single_family_df['YearBuilt'].value_counts()

2015    184
2006    172
2005    170
2014    166
1955    151
       ...
1924      1
1908      1
1904      1
1900      1
1896      1
Name: YearBuilt, Length: 110, dtype: int64

## 1.15 Building Sqft<a id='1.15_Building_Sqft'></a>

In [156]:
single_family_df['Building Sqft.:']

30       1,920178(mÂ²)  /Appraisal District
33                  2,162201(mÂ²)  /Builder
46       2,671248(mÂ²)  /Appraisal District
50       1,688157(mÂ²)  /Appraisal District
52       1,688157(mÂ²)  /Appraisal District
                        ...
11133    1,651153(mÂ²)  /Appraisal District
11137    1,316122(mÂ²)  /Appraisal District
11138    1,160108(mÂ²)  /Appraisal District
11139    1,135105(mÂ²)  /Appraisal District
11140       83978(mÂ²)  /Appraisal District
Name: Building Sqft.:, Length: 6476, dtype: object

In [157]:
single_family_df['Building Sqft.:'].isnull().sum()

8

In [158]:
single_family_df=single_family_df[~single_family_df['Building Sqft.:'].isnull()]
single_family_df['Building Sqft.:']=single_family_df['Building Sqft.:'].apply(lambda x:x[0:5] if ',' in x else x[0:3])
single_family_df['Building Sqft.:']=single_family_df['Building Sqft.:'].str.replace(',','')
single_family_df['Building Sqft.:']=pd.to_numeric(single_family_df['Building Sqft.:'])
single_family_df.rename(columns ={'Building Sqft.:':'BuildSqft'},inplace=True)

In [159]:
single_family_df.BuildSqft.describe()

count    6468.000000
mean     2783.966450
std      1203.564704
min       400.000000
25%      1957.000000
50%      2547.500000
75%      3350.250000
max      9769.000000
Name: BuildSqft, dtype: float64

## 1.16 Lot Size<a id='1.16_Lot_Size'></a>

In [162]:
single_family_df['Lot Size:'].isnull().sum()

49

In [163]:
single_family_df=single_family_df[~single_family_df['Lot Size:'].isnull()]

In [164]:
single_family_df['Lot Size:']

30       1,556 Sqft.145(mÂ²)  /Appraisal District
33       1,435 Sqft.133(mÂ²)  /Appraisal District
46       2,006 Sqft.186(mÂ²)  /Appraisal District
50       2,220 Sqft.206(mÂ²)  /Appraisal District
52       2,110 Sqft.196(mÂ²)  /Appraisal District
                           ...
11133    7,100 Sqft.660(mÂ²)  /Appraisal District
11137    7,100 Sqft.660(mÂ²)  /Appraisal District
11138    7,100 Sqft.660(mÂ²)  /Appraisal District
11139    7,100 Sqft.660(mÂ²)  /Appraisal District
11140    7,100 Sqft.660(mÂ²)  /Appraisal District
Name: Lot Size:, Length: 6419, dtype: object

In [165]:
single_family_df['Lot Size:']=single_family_df['Lot Size:'].str.replace(',','')
single_family_df['Lot Size:']=single_family_df['Lot Size:'].apply(lambda x:float(x.split(' ')[0])*43560 if 'Acres' in 
                                                                  x else float(x.split(' ')[0]))

# single_family_df['Lot Size:']=pd.to_numeric(single_family_df['Lot Size:'])
single_family_df.rename(columns ={'Lot Size:':'LotSize'},inplace=True)

In [166]:
single_family_df.LotSize.describe()

count    6.419000e+03
mean     1.107953e+04
std      2.779575e+04
min      0.000000e+00
25%      6.507000e+03
50%      8.140000e+03
75%      9.943500e+03
max      1.306800e+06
Name: LotSize, dtype: float64

the minimum lot size is 0 which need to investigate.

In [167]:
single_family_df[single_family_df.LotSize <1000]

,image_link,ListingPrice,Address,City:,ZipCode,County,Legal,NoBed,Stories,Style,...,MedianApp,MedianYearBlt,MedianSqft,AvgNeighborValRange,MedianPrice/Sqft,PaidTax,TaxRate,TotalBedSqft,FullBath,HalfBath
4975,"['https://photos.harstatic.com/190806088/hr/img-1.jpeg?ts=2020-10-25T08:51:53.280', 'https://pho...",173550,7807 Vickijohn,Houston,77071,Harris County,TR 2 BLK 2 FONDREN SW NORTHFIELD SEC 1,3,1.0,Contemporary/Modern,...,214780,1977,8740,229000.0,84.39,2743.0,2.6237,528.0,2,0

There is one house with lot size less than 1000. lest drop it.

In [170]:
single_family_df = single_family_df[single_family_df.LotSize >= 1000]
single_family_df.LotSize.describe()

count    6.418000e+03
mean     1.108126e+04
std      2.779757e+04
min      1.104000e+03
25%      6.510000e+03
50%      8.140500e+03
75%      9.944750e+03
max      1.306800e+06
Name: LotSize, dtype: float64

## 1.17 Maintenance Fee<a id='1.17_Maintenance_Fee'></a>

In [171]:
single_family_df['Maintenance Fee:']

30       ['$ 2250 / Annually', 'Mandatory / $2250 / Annually']
33       ['$ 1195 / Annually', 'Mandatory / $1195 / Annually']
46       ['$ 2244 / Annually', 'Mandatory / $2244 / Annually']
50       ['$ 1400 / Annually', 'Mandatory / $1400 / Annually']
52       ['$ 1400 / Annually', 'Mandatory / $1400 / Annually']
                                 ...
11133                                                       No
11137                                                       No
11138                                                       No
11139                                                       No
11140                                                       No
Name: Maintenance Fee:, Length: 6418, dtype: object

In [172]:
single_family_df['Maintenance Fee:'].isnull().sum()

20

In [173]:
single_family_df['Maintenance Fee:'].value_counts()

No                                                     1530
['$ 650 / Annually', 'Mandatory / $650 / Annually']     125
['$ 450 / Annually', 'Mandatory / $450 / Annually']     116
['$ 350 / Annually', 'Mandatory / $350 / Annually']     113
['$ 600 / Annually', 'Mandatory / $600 / Annually']     102
                                                       ...
['$ 59 / Monthly', 'Mandatory / $59 / Monthly']           1
['$ 684 / Annually', 'Mandatory / $684 / Annually']       1
['$ 797 / Annually', 'Mandatory / $797 / Annually']       1
['$ 67 / Monthly', 'Mandatory / $67 / Monthly']           1
['$ 88 / Annually', 'Mandatory / $88 / Annually']         1
Name: Maintenance Fee:, Length: 797, dtype: int64

In [174]:
single_family_df['Maintenance Fee:'].isin(['No','No / $0','Voluntary / Annually','Voluntary /0/ Annually']).sum()

1577

In [175]:
def MaintenanceFee(fee):
    """This function calculates the Maintenance fee for this column"""
    if type(fee) != float:
        fee = fee.split(',')[0].split('/')
        if fee[0].strip() in ['No','No / $0','Voluntary / Annually','Voluntary /0/ Annually','Voluntary','Mandatory']:
            fee = 0
        elif len(fee) > 1 and fee[1].replace('\'','').strip() in ['Annually']:
            fee = float(fee[0].replace('$','').replace('\'','').replace(' ','').replace('[',''))
        elif len(fee) > 1 and fee[1].replace('\'','').strip() in ['Quarterly']:   
            fee = float(fee[0].replace('$','').replace('\'','').replace(' ','').replace('[',''))*4
        elif len(fee) > 1 and fee[1].replace('\'','').strip() in ['Monthly']:   
            fee = float(fee[0].replace('$','').replace('\'','').replace(' ','').replace('[',''))*12 
        else:
            fee = float(fee[0].replace('$','').replace('\'','').replace(' ','').replace('[',''))
    else:
        fee = 0
    return fee

In [176]:
single_family_df['MaintenanceFee'] = single_family_df['Maintenance Fee:'].apply(MaintenanceFee)

In [177]:
single_family_df.drop('Maintenance Fee:',axis=1,inplace=True)

## 1.18 Fireplace<a id='1.18_Fireplace'></a>

In [178]:
single_family_df['Fireplace:'].value_counts()

1/Gaslog Fireplace                                                                           1206
1                                                                                             782
1/Gas Connections                                                                             644
1/Wood Burning Fireplace                                                                      449
1/Gas Connections, Gaslog Fireplace                                                           358
                                                                                             ...
1/Gas Connections, Stove                                                                        1
2/Freestanding, Gas Connections, Gaslog Fireplace, Wood Burning Fireplace                       1
2/Freestanding, Gas Connections, Gaslog Fireplace, Mock Fireplace, Wood Burning Fireplace       1
1/Gas Connections, Mock Fireplace, Wood Burning Fireplace                                       1
3/Freestanding, Gaslog Fireplace                                                                1
Name: Fireplace:, Length: 82, dtype: int64

In [179]:
pd.Series([str(x)[0]  for x in single_family_df['Fireplace:'] if x is not None]).value_counts()

1    4142
n    1696
2     416
3      88
/      46
4      22
5       8
dtype: int64

In [180]:
single_family_df['Fireplace:']=single_family_df['Fireplace:'].apply(lambda x:int(str(x)[0]) if str(x)[0]
                                                                    in ['1','2','3','4','5','6','7'] else 0)

In [181]:
single_family_df['Fireplace:'].value_counts()

1    4142
0    1742
2     416
3      88
4      22
5       8
Name: Fireplace:, dtype: int64

## 1.19 HOA Mandatory<a id='1.19_HOA_Mandatory'></a>

In [182]:
single_family_df['HOA Mandatory:']

30       Yes
33       Yes
46       Yes
50       NaN
52       Yes
        ...
11133     No
11137     No
11138     No
11139     No
11140     No
Name: HOA Mandatory:, Length: 6418, dtype: object

We can fill null values for HOA by 'NO'.

In [183]:
single_family_df['HOA Mandatory:'][single_family_df['HOA Mandatory:'].isnull()]='No'
single_family_df.rename(columns ={'HOA Mandatory:':'HOA'},inplace=True)

In [184]:
missing = missing_cal(single_family_df)
missing.loc[missing['%'] > 0].sort_values(by="%",ascending=False)

                                      count           %
Median Appraised Value / Square ft.:   6418  100.000000
Legal                                     1    0.015581

Median Appraised Value / Square ft.: has 100% missing value we can drop it and also drop rows with null value for legal.

In [185]:
single_family_df.drop('Median Appraised Value / Square ft.:',axis = 1, inplace=True)
single_family_df=single_family_df[~single_family_df['Legal'].isnull()]

lets take a look at dataset to see if we need to rename some columns:

In [186]:
single_family_df.columns

Index(['image_link', 'ListingPrice', 'Address', 'City:', 'ZipCode', 'County',
       'Legal', 'NoBed', 'Stories', 'Style', 'YearBuilt', 'BuildSqft',
       'LotSize', 'Fireplace:', 'Heating:', 'Cooling:', 'Ice Maker:',
       'Microwave:', 'Compactor:', 'Dishwasher:', 'Disposal:', 'Roof:',
       'Foundation:', 'Private Pool:', 'Exterior Type:', 'Lot Description:',
       'Controlled Access:', 'Water Sewer:', 'Unit Location:', 'Area Pool:',
       'Dwelling Type:', 'HOA', 'List Type:', 'Other Fees:', 'AvgBed',
       'Average Baths:', 'Carport Description:', 'UtilitySqft', 'StudySqft',
       'GameSqft', 'BreakfastSqft', 'Garage', 'LivingSqft', 'DiningSqft',
       'KitchenSqft', 'SubName', 'MedianApp', 'MedianYearBlt', 'MedianSqft',
       'AvgNeighborValRange', 'MedianPrice/Sqft', 'PaidTax', 'TaxRate',
       'TotalBedSqft', 'FullBath', 'HalfBath', 'MaintenanceFee'],
      dtype='object')

In [187]:
single_family_df.reset_index(inplace=True,drop=True)

In [188]:
single_family_df.rename(columns = {'City:':'City','Fireplace:':'Fireplace', 'Heating:':'Heating', 'Cooling:':'Cooling',
                                   'Ice Maker:':'IceMaker', 'Microwave:':'Microwave','Compactor:':'Compactor',
                                   'Dishwasher:':'Dishwasher','Disposal:':'Disposal','Roof:':'Roof',
                                   'Foundation:':'Foundation','Private Pool:':'PrivatePool',
                                   'Exterior Type:':'ExteriorType','Lot Description:':'LotDes',
                                   'Controlled Access:':'ControlAccess','Water Sewer:':'WaterSewer',
                                   'Unit Location:':'UnitLoc','Area Pool:':'AreaPool','Dwelling Type:':'DwellingType',
                                   'List Type:':'ListType','Other Fees:':'OtherFees','Average Baths:':'AvgBaths',
                                   'Carport Description:':'CarportDescription'},inplace=True)

In [189]:
single_family_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6417 entries, 0 to 6416
Data columns (total 57 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   image_link           6417 non-null   object
 1   ListingPrice         6417 non-null   int64
 2   Address              6417 non-null   object
 3   City                 6417 non-null   object
 4   ZipCode              6417 non-null   int64
 5   County               6417 non-null   object
 6   Legal                6417 non-null   object
 7   NoBed                6417 non-null   int32
 8   Stories              6417 non-null   float64
 9   Style                6417 non-null   object
 10  YearBuilt            6417 non-null   int64
 11  BuildSqft            6417 non-null   int64
 12  LotSize              6417 non-null   float64
 13  Fireplace            6417 non-null   int64
 14  Heating              6417 non-null   object
 15  Cooling              6417 non-null   object
 16  IceMaker             6417 non-null   object
 17  Microwave            6417 non-null   object
 18  Compactor            6417 non-null   object
 19  Dishwasher           6417 non-null   object
 20  Disposal             6417 non-null   object
 21  Roof                 6417 non-null   object
 22  Foundation           6417 non-null   object
 23  PrivatePool          6417 non-null   object
 24  ExteriorType         6417 non-null   object
 25  LotDes               6417 non-null   object
 26  ControlAccess        6417 non-null   object
 27  WaterSewer           6417 non-null   object
 28  UnitLoc              6417 non-null   object
 29  AreaPool             6417 non-null   object
 30  DwellingType         6417 non-null   object
 31  HOA                  6417 non-null   object
 32  ListType             6417 non-null   object
 33  OtherFees            6417 non-null   object
 34  AvgBed               6417 non-null   float64
 35  AvgBaths             6417 non-null   float64
 36  CarportDescription   6417 non-null   object
 37  UtilitySqft          6417 non-null   float64
 38  StudySqft            6417 non-null   float64
 39  GameSqft             6417 non-null   float64
 40  BreakfastSqft        6417 non-null   float64
 41  Garage               6417 non-null   int32
 42  LivingSqft           6417 non-null   float64
 43  DiningSqft           6417 non-null   float64
 44  KitchenSqft          6417 non-null   float64
 45  SubName              6417 non-null   object
 46  MedianApp            6417 non-null   int64
 47  MedianYearBlt        6417 non-null   int64
 48  MedianSqft           6417 non-null   int64
 49  AvgNeighborValRange  6417 non-null   float64
 50  MedianPrice/Sqft     6417 non-null   float64
 51  PaidTax              6417 non-null   float64
 52  TaxRate              6417 non-null   float64
 53  TotalBedSqft         6417 non-null   float64
 54  FullBath             6417 non-null   int32
 55  HalfBath             6417 non-null   int64
 56  MaintenanceFee       6417 non-null   float64
dtypes: float64(17), int32(3), int64(9), object(28)
memory usage: 2.7+ MB

## 1.20 Other Fees<a id='1.20_Other_Fees'></a>

In [190]:
single_family_df.OtherFees.value_counts()

No / 0       2914
Yes / 250    1303
Yes / 200     436
Yes / 300     257
Yes / 150     210
             ...
Yes / 210       1
Yes / 526       1
Yes / 89        1
Yes / 572       1
Yes / 390       1
Name: OtherFees, Length: 190, dtype: int64

We need to clean this column and to do so I will change No value with 0 and calculate total fees for the rest.

In [191]:
single_family_df.OtherFees = single_family_df.OtherFees.apply(lambda x: float(x.split('/')[1].strip()))

In [192]:
single_family_df.OtherFees

0       250.0
1        80.0
2       250.0
3       350.0
4       250.0
        ...
6412      0.0
6413      0.0
6414      0.0
6415      0.0
6416      0.0
Name: OtherFees, Length: 6417, dtype: float64

In [193]:
single_family_df.head()

,image_link,ListingPrice,Address,City,ZipCode,County,Legal,NoBed,Stories,Style,...,MedianYearBlt,MedianSqft,AvgNeighborValRange,MedianPrice/Sqft,PaidTax,TaxRate,TotalBedSqft,FullBath,HalfBath,MaintenanceFee
0,"['https://photos.harstatic.com/189100987/hr/img-1.jpeg?ts=2020-09-04T12:19:37.237', 'https://pho...",408000,2614 Capitol Street,Houston,77003,Harris County,LT 7 BLK 1 CAPITOL OAKS SEC 1 2ND AMEND,3,3.0,"Contemporary/Modern,Traditional",...,2012,1563,443500.0,200.05,8899.0,2.5466,522.0,3,1,2250.0
1,"['https://photos.harstatic.com/189116198/hr/img-1.jpeg?ts=2020-10-21T19:55:31.780', 'https://pho...",402115,2708 EaDo Grove Lane,Houston,77003,Harris County,LT 19 BLK 1 EaDo Grove,3,3.0,Contemporary/Modern,...,2018,1485,217000.0,192.51,2169.0,2.6554,474.0,3,1,1195.0
2,"['https://photos.harstatic.com/188179029/hr/img-1.jpeg?ts=2020-08-03T08:56:34.177', 'https://pho...",419000,619 Live Oak Street,Houston,77003,Harris County,LT 7 BLK 1 CAPITOL OAKS SEC 3 RP NO 1,3,3.0,Traditional,...,2012,1563,443500.0,200.05,8899.0,2.5466,320.0,3,1,2244.0
3,"['https://photos.harstatic.com/190180506/hr/img-1.jpeg?ts=2020-10-15T11:16:28.257', 'https://pho...",320000,1725 Aden Drive,Houston,77003,Harris County,LT 66 BLK 1 MIDTOWN VILLAGE,2,2.0,Split Level,...,2005,1904,259000.0,181.62,7078.0,2.5466,302.0,2,1,1400.0
4,"['https://photos.harstatic.com/189461143/hr/img-1.jpeg?ts=2020-10-26T15:31:30.800', 'https://pho...",305000,1716 Aden Mist Drive,Houston,77003,Harris County,LT 117 BLK 1 MIDTOWN VILLAGE,2,2.0,Traditional,...,2005,1904,259000.0,181.62,7155.0,2.5466,340.0,2,0,1400.0

## 1.21 Roof<a id='1.21_Roof'></a>

In [194]:
single_family_df.Roof.unique()

array(['Composition', 'Aluminum', 'Other', 'Tile', 'Composition, Other',
       'Aluminum, Composition', 'Composition, Slate', 'Slate',
       'Composition, Tile', 'Wood Shingle', 'Built Up, Composition',
       'Aluminum, Other', 'Other, Tile', 'Aluminum, Composition, Other',
       'Other, Wood Shingle', 'Built Up', 'Aluminum, Other, Wood Shingle',
       'Aluminum, Slate', 'Composition, Wood Shingle'], dtype=object)

To reduce number of category in roof type column I create a list of standard roof type and will match each category to standard list, then replace it with higher score.

In [195]:
standard_roof=['Composition','Aluminum','Tile','Slate','Wood Shingle','Built Up','Other']
#For each correct roof  type . in standard roof list
for roof in standard_roof:
    
    # Find matches in gender
    matches = process.extract(roof, single_family_df.Roof,
                 limit = single_family_df.shape[0])
    
    
# For each possible_match with similarity score >= 90
    for possible_match in matches:
        if possible_match[1] >= 90:
      
            
            matching = single_family_df.Roof == possible_match[0]
           # I decided to use 'W' for female since there is high similarity between 'female' and 'male' 
        single_family_df.loc[matching , 'Roof'] = roof

In [196]:
single_family_df.Roof.unique()

array(['Composition', 'Aluminum', 'Other', 'Tile', 'Slate',
       'Wood Shingle', 'Built Up'], dtype=object)

## 1.21 Foundation<a id='1.21_Foundation'></a>

In [197]:
single_family_df.Foundation.unique()

array(['Slab', 'Block & Beam', 'Slab on Builders Pier', 'Pier & Beam',
       'Other, Slab', 'Pier & Beam, Slab', 'Slab, Slab on Builders Pier',
       'Pier & Beam, Slab on Builders Pier', 'Block & Beam, Slab',
       'Other, Pier & Beam', 'Other', 'Block & Beam, Pier & Beam',
       'Block & Beam, Slab on Builders Pier',
       'Other, Slab on Builders Pier', 'On Stilts'], dtype=object)

In [198]:
standard_foundation=['Slab','Block & Beam','Pier & Beam','On Stilts','Other']
for found in standard_foundation:
    
    # Find matches in gender
    matches = process.extract(found, single_family_df.Foundation,
                 limit = single_family_df.shape[0])
    
    
# For each possible_match with similarity score >= 90
    for possible_match in matches:
        if possible_match[1] >= 90:
      
            
            matching = single_family_df.Foundation == possible_match[0]
           # I decided to use 'W' for female since there is high similarity between 'female' and 'male' 
        single_family_df.loc[matching , 'Foundation'] = found
print(single_family_df.Foundation.unique())

['Slab' 'Block & Beam' 'Pier & Beam' 'Other' 'On Stilts']

In [199]:
single_family_df.ExteriorType.unique()

array(['Cement Board, Stucco', 'Cement Board', 'Brick, Wood',
       'Brick, Cement Board, Wood', 'Brick, Cement Board',
       'Brick & Wood, Cement Board', 'Stucco', 'Brick, Vinyl, Wood',
       'Brick, Other', 'Other', 'Brick', 'Brick & Wood', 'Wood',
       'Aluminum', 'Brick & Wood, Cement Board, Wood',
       'Cement Board, Stone', 'Brick, Stucco', 'Stone, Stucco',
       'Asbestos, Wood', 'Brick, Stone, Stucco, Vinyl, Wood',
       'Brick Veneer, Stucco', 'Cement Board, Stone, Wood',
       'Aluminum, Vinyl', 'Stone', 'Stucco, Wood', 'Other, Wood',
       'Brick & Wood, Brick', 'Asbestos, Brick & Wood', 'Brick, Vinyl',
       'Brick Veneer', 'Cement Board, Other, Stone, Wood',
       'Brick, Stone, Stucco', 'Brick Veneer, Stone', 'Other, Stucco',
       'Stone & Wood, Stucco', 'Unknown', 'Cement Board, Wood',
       'Aluminum, Other', 'Brick & Wood, Stone & Wood',
       'Aluminum, Brick, Vinyl, Wood', 'Cement Board, Stone, Stucco',
       'Cement Board, Unknown', 'Brick & Wood, Cement Board, Stucco',
       'Brick, Cement Board, Stucco', 'Brick Veneer, Cement Board',
       'Cement Board, Stucco, Wood', 'Aluminum, Wood', 'Vinyl',
       'Brick & Wood, Stone, Stucco', 'Brick, Cement Board, Stone',
       'Asbestos, Other', 'Brick, Cement Board, Stucco, Wood',
       'Aluminum, Cement Board, Wood', 'Brick, Cement Board, Other',
       'Brick & Wood, Other', 'Stone, Stucco, Wood', 'Asbestos',
       'Brick & Wood, Wood', 'Cement Board, Stone & Wood',
       'Aluminum, Vinyl, Wood', 'Asbestos, Vinyl', 'Brick, Other, Wood',
       'Brick & Wood, Vinyl', 'Unknown, Wood', 'Brick, Unknown',
       'Stone & Wood', 'Asbestos, Cement Board, Wood',
       'Brick, Cement Board, Stone, Stucco',
       'Brick & Wood, Brick Veneer, Stucco', 'Stone, Wood', 'Vinyl, Wood',
       'Brick & Wood, Stone', 'Brick, Stucco, Vinyl',
       'Brick & Wood, Brick, Stucco', 'Brick, Other, Stucco',
       'Brick, Stone', 'Brick & Wood, Stucco', 'Brick, Stone, Wood',
       'Unknown, Vinyl', 'Brick Veneer, Vinyl',
       'Brick Veneer, Cement Board, Stucco', 'Cement Board, Other, Wood',
       'Brick & Wood, Stone, Wood', 'Cement Board, Unknown, Wood',
       'Brick & Wood, Brick Veneer, Cement Board', 'Cement Board, Other',
       'Brick & Wood, Unknown', 'Other, Stone & Wood, Stucco',
       'Asbestos, Brick & Wood, Wood', 'Brick & Wood, Brick Veneer',
       'Stone, Vinyl', 'Brick & Wood, Brick, Cement Board',
       'Brick, Cement Board, Vinyl, Wood', 'Brick, Cement Board, Vinyl',
       'Brick & Wood, Cement Board, Other', 'Brick, Stucco, Wood',
       'Synthetic Stucco', 'Aluminum, Brick, Cement Board',
       'Cement Board, Other, Stone', 'Brick Veneer, Wood',
       'Cement Board, Vinyl', 'Aluminum, Brick', 'Other, Stone',
       'Stone, Stone & Wood', 'Brick & Wood, Cement Board, Stone',
       'Brick, Stone, Stucco, Wood', 'Brick, Other, Vinyl, Wood',
       'Aluminum, Brick & Wood, Vinyl', 'Brick, Other, Stone',
       'Stone & Wood, Wood', 'Brick, Cement Board, Unknown, Wood',
       'Brick & Wood, Cement Board, Stone & Wood',
       'Asbestos, Stucco, Wood', 'Aluminum, Brick, Vinyl',
       'Aluminum, Brick & Wood', 'Stucco, Vinyl',
       'Brick & Wood, Cement Board, Stucco, Wood',
       'Brick & Wood, Synthetic Stucco',
       'Brick & Wood, Brick, Cement Board, Wood',
       'Brick Veneer, Cement Board, Wood', 'Brick, Other, Vinyl',
       'Aluminum, Brick, Wood', 'Asbestos, Cement Board',
       'Brick, Cement Board, Other, Wood',
       'Brick, Cement Board, Stone, Wood', 'Other, Stucco, Wood',
       'Brick & Wood, Cement Board, Vinyl',
       'Brick Veneer, Cement Board, Stone',
       'Brick & Wood, Cement Board, Synthetic Stucco',
       'Brick & Wood, Stone, Stone & Wood', 'Other, Stone, Stucco',
       'Brick, Stone & Wood', 'Other, Unknown',
       'Brick, Cement Board, Stone, Stucco, Wood',
       'Brick Veneer, Cement Board, Stone & Wood',
       'Cement Board, Stone, Stone & Wood, Stucco',
       'Brick Veneer, Stone, Stucco', 'Cement Board, Stone, Stone & Wood',
       'Brick, Cement Board, Stone, Synthetic Stucco, Wood',
       'Stucco, Synthetic Stucco',
       'Brick & Wood, Cement Board, Stone, Stucco',
       'Stone, Synthetic Stucco', 'Brick & Wood, Brick, Stone & Wood',
       'Brick & Wood, Brick, Stone',
       'Brick & Wood, Brick, Cement Board, Stucco',
       'Cement Board, Stone & Wood, Stucco', 'Brick, Other, Unknown',
       'Brick, Unknown, Vinyl'], dtype=object)

In [200]:
single_family_df.to_csv('../data/processed/SingleFamily.csv',index=False)